# Ignorar la metadata de SVN
.svn/

# Build / generados (no versionados por Git, aunque sí por SVN)
build/
target/
bin/
out/
dist/

# Java
*.class
*.jar
*.war
*.ear

# Logs / temp
*.log
*.tmp
*.bak

# Eclipse
.settings/
.project
.classpath

# Idea
.idea/
*.iml