html {
	font-size: 62.5%;
/* 	-ms-text-size-adjust: 100%; */
/* 	-webkit-text-size-adjust: 100%; */
	display: block;
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body, .t-Body {
	background: #f8f8f8;
	color: #393939;
}

body {
	margin: 0;
/* 	font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif; */
	font-size: 1.2rem;
	line-height: 1.6rem;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

.t-Body-alert {
	margin: 0;
}

.t-PageBody--login .t-Body-alert {
	max-width: 460px;
	margin: 12px auto;
}

.t-PageBody--login .t-Body {
	margin-top: 0;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.t-Body {
	position: relative;
	overflow: hidden;
}

.t-Body-wrap {
	margin: 12px 0;
	display: table;
	table-layout: fixed;
	width: 100%;
}

.t-Login-containerLogin {
	position: relative;
	z-index: 100;
	max-width: 460px;
	margin: 0 auto;
	animation: loginFade ease-in-out 1;
	animation-fill-mode: forwards;
	animation-duration: .2s;
	webkit-animation: loginFade ease-in-out 1;
	webkit-animation-fill-mode: forwards;
	webkit-animation-duration: .2s;
}

.containerLogin {
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	text-align: center;
/* 	padding-top: 8px; */
}

.t-Login-containerLogin>.containerLogin, .t-Login-containerLogin>.containerLogin>.row {
	overflow: visible;
}

.containerLogin:after, .containerLogin:before {
	content: " ";
	display: table;
}

.containerLogin:after {
	clear: both;
}

.row {
	margin-right: -4px;
	margin-left: -4px;
}

.row:after, .row:before {
	content: " ";
	display: table;
}

.row:after {
	clear: both;
}

.col-12 {
	width: 100%;
}

.col {
	float: left;
	min-height: 1px;
	position: relative;
	padding-right: 4px;
	padding-left: 4px;
}

.t-Region {
	background-color: #ffffff;
	margin-bottom: 12px;
	display: block;
	border: 1px solid rgba(0, 0, 0, .05);
	background-clip: padding-box;
	box-shadow: 0 2px 2px rgba(0, 0, 0, .05);
}

.t-Region, .t-Region-header {
	border-radius: 2px;
}

.t-Region--scrollBody {
	position: relative;
	overflow: hidden;
}

.t-Region .t-Region-body {
	padding: 12px;
}

.t-Region-body {
	color: #404040;
	font-size: 1.8rem;
	line-height: 2rem;
	position: relative;
	overflow: auto;
	text-align: center;
	font-weight: bold;
	padding-top: 15px;
	padding-bottom: 15px;
}

.t-Region--scrollBody>.t-Region-bodyWrap>.t-Region-body {
	background: linear-gradient(#ffffff 30%, rgba(255, 255, 255, 0)),
		linear-gradient(rgba(255, 255, 255, 0), #ffffff 70%) 0 100%,
		linear-gradient(rgba(0, 0, 0, 0.025), rgba(0, 0, 0, 0)),
		linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.025)) 0 100%;
	background-color: #ffffff;
	background-repeat: no-repeat !important;
	background-size: 100% 12px, 100% 12px, 100% 6px, 100% 6px !important;
	background-attachment: local, local, scroll, scroll !important;
	overflow: auto;
}

.t-Region-header {
	border-bottom-right-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	background-color: #fcfcfc;
	border-bottom: 1px solid #e2e2e2;
	box-sizing: border-box;
	display: table;
	table-layout: auto;
	width: 100%;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.6rem;
}

.t-Region-headerItems {
	display: table-cell;
	vertical-align: middle;
}

.t-Region-headerItems--title {
	text-align: left;
	padding: 1.6rem 1.2rem;
}

.t-Region h2.t-Region-title {
	color: #3d3d3d;
}

.t-Region-title {
	display: inline-block;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
}

h2 {
	-webkit-margin-before: 0.83em;
	-webkit-margin-after: 0.83em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

.t-Region-buttons {
	overflow: hidden;
}

.t-Region-buttons-right {
	padding: 1rem 1.3rem;
/* 	float: right; */
}

.t-Button--hot, body .ui-state-default.ui-button.ui-button--hot, body button.ui-state-default.ui-priority-primary
	{
	background-color: #2577cf;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
	width: 80%;
}

.t-Button--primary, .t-Button--hot, .t-Button--danger,
	.t-Button--warning, .t-Button--success {
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.05) inset;
}

.t-Button {
	font-size: 1.2rem;
	line-height: 1.6rem;
	padding: .8rem 1.2rem;
	font-weight: 400;
	box-sizing: border-box;
	-webkit-appearance: none;
	cursor: pointer;
	display: inline-block;
	font: inherit;
	margin: 0;
	position: relative;
	text-align: center;
	text-decoration: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	vertical-align: middle;
	white-space: nowrap;
	-webkit-font-smoothing: antialiased;
}

button, select {
	text-transform: none;
}

.t-Button--hot:hover, body .ui-state-default.ui-button.ui-button--hot:hover,
	body button.ui-state-default.ui-priority-primary:hover {
	background-color: #4991de;
}

.t-Button:hover, .a-Button:hover {
	z-index: 100;
}

.t-Button--hot:hover, .t-Button--danger:hover, .t-Button--success:hover
	{
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.075)
		inset;
}

.t-Button, .a-Button {
	border: none;
	background-clip: padding-box;
	border-radius: 2px;
}

.t-Form-fieldcontainerLogin {
	border-spacing: 0;
	clear: both;
	width: 100%;
}

.rel-col {
	overflow: hidden;
	width: auto;
}

.col-12>.rel-col .col-3 {
	width: 25%;
}

.col-12>.rel-col .col-9 {
	width: 75%;
}

.col-9 {
	width: 75%;
}

.t-Form-inputcontainerLogin {
	overflow: hidden;
}

.t-Form-inputcontainerLogin:before {
	color: #333333;
}

.t-Form-inputcontainerLogin, .t-Form-inputcontainerLogin.col,
	.t-Form-labelcontainerLogin, .t-Form-labelcontainerLogin.col {
	padding: .8rem;
}

.t-Form-field, .t-Form-inputcontainerLogin input.datepicker,
	.t-Form-inputcontainerLogin input.password, .t-Form-inputcontainerLogin input.popup_lov,
	.t-Form-inputcontainerLogin input.text_field, .t-Form-inputcontainerLogin input[type=text],
	.t-Form-inputcontainerLogin select.selectlist[size="1"],
	.t-Form-inputcontainerLogin select.yes_no, .t-Form-select[size="1"],
	.u-TF-item--datepicker, .u-TF-item--select, .u-TF-item--text {
	height: 2.4rem;
}

.t-Form-inputcontainerLogin input[type=password], .t-Form-inputcontainerLogin input[type=text]
	{
	-webkit-appearance: none;
	appearance: none;
}

.t-Form-field, .t-Form-inputcontainerLogin input.datepicker,
	.t-Form-inputcontainerLogin input.password, .t-Form-inputcontainerLogin input.popup_lov,
	.t-Form-inputcontainerLogin input.text_field, .t-Form-inputcontainerLogin input[type=text],
	.t-Form-inputcontainerLogin select.selectlist, .t-Form-inputcontainerLogin select.yes_no,
	.t-Form-inputcontainerLogin select[multiple], .t-Form-inputcontainerLogin span.display_only,
	.t-Form-inputcontainerLogin textarea.textarea, .t-Form-select,
	.t-Form-textarea, .u-TF-item--datepicker, .u-TF-item--select,
	.u-TF-item--text, .u-TF-item--textarea {
	display: inline-block;
	font-size: 1.2rem;
	vertical-align: top;
	line-height: 1.6rem;
	padding: .3rem;
	border: 1px solid #E0E0E0;
	box-shadow: 0 .1rem .2rem rgba(0, 0, 0, .05) inset;
	border-radius: 2px;
	max-width: 100%;
}

.t-Form-labelcontainerLogin {
	text-align: right;
	-webkit-font-smoothing: antialiased;
}

.t-Form-field, .t-Form-select, .t-Form-inputcontainerLogin input[type="text"],
	.t-Form-inputcontainerLogin select.selectlist, .t-Form-inputcontainerLogin select.yes_no,
	.t-Form-inputcontainerLogin input.text_field, .t-Form-inputcontainerLogin input.password,
	.t-Form-inputcontainerLogin textarea.textarea, .t-Form-inputcontainerLogin input.datepicker,
	.t-Form-inputcontainerLogin span.display_only, .t-Form-inputcontainerLogin input.popup_lov,
	.t-Form-inputcontainerLogin select[multiple], .t-Form-textarea,
	.u-TF-item--text, .u-TF-item--textarea, .u-TF-item--datepicker,
	.u-TF-item--select {
	border-radius: 2px;
	color: #333333;
	background-color: #f2f2f2;
	border-color: #d9d9d9;
}

.t-Form-label {
	padding: .4rem 0;
	line-height: 1.6rem;
	display: inline-block;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	font-size: 1.2rem;
}

button, input {
	line-height: normal;
}

button, input, select, textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
}

.t-PageBody--login .t-Body-alert .t-Alert--warning {
	box-shadow: 0 6px 16px rgba(0, 0, 0, .1), 0 0 0 1px rgba(0, 0, 0, .05);
	-webkit-animation: loginFade ease-in-out 1;
	animation: loginFade ease-in-out 1;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-duration: .2s;
	animation-duration: .2s;
}

.t-Alert--page.t-Alert--warning.is-visible {
	opacity: 1;
}

.t-Alert--horizontal .t-Alert-wrap {
	display: table;
	width: 100%;
}

.t-Alert--warning .t-Alert-icon, .t-Alert--yellow .t-Alert-icon {
	color: #ffcc00;
}

.t-Alert--horizontal .t-Alert-buttons, .t-Alert--horizontal .t-Alert-content,
	.t-Alert--horizontal .t-Alert-icon {
	display: table-cell;
	padding: 16px;
	vertical-align: middle;
}

.t-Alert--horizontal .t-Alert-icon {
	width: 1%;
	padding-right: 0;
	margin: 48px;
	text-align: center;
}

.t-Alert {
	-webkit-font-smoothing: antialiased;
}

.t-Alert--defaultIcons.t-Alert--horizontal .t-Alert-icon .t-Icon {
	line-height: 2.8rem;
}

.t-Alert .t-Icon.icon-close:before, .t-Alert--defaultIcons .t-Alert-icon .t-Icon
	{
	display: inline-block;
	vertical-align: top;
}

.t-Alert--horizontal .t-Alert-icon .t-Icon {
	font-size: 4.1rem;
}

.t-Alert--defaultIcons.t-Alert--warning .t-Alert-icon .t-Icon:before,
	.t-Alert--defaultIcons.t-Alert--yellow .t-Alert-icon .t-Icon:before {
	content: url("advertencia.PNG");;
}

.t-Alert--horizontal .t-Alert-buttons {
	width: 1%;
	text-align: right;
	white-space: nowrap;
	padding-left: 0;
}

.t-Alert--colorBG.t-Alert--warning .t-Alert-body, .t-Alert--colorBG.t-Alert--yellow .t-Alert-body
	{
	color: #737373;
}

.t-Button.t-Button--noUI {
	box-shadow: none;
}

.t-Button--noUI {
	color: #383838;
}

.t-Button--noUI, .t-Button--noUI:active, .t-Button--noUI:hover {
	text-shadow: none !important;
	background-color: transparent !important;
}

.t-Button {
	font-size: 1.2rem;
	line-height: 1.6rem;
	padding: .8rem 1.2rem;
	font-weight: 400;
}

.t-Button--icon {
	line-height: 1.6rem;
	min-width: 4rem;
	text-align: center;
}

.t-Alert--colorBG.t-Alert--warning, .t-Alert--colorBG.t-Alert--yellow {
    background-color: #fffae5;
}

.t-Alert--page.t-Alert--warning {
    transition: opacity .25s;
}