/* 
	Hoja de estilo General
	Autor: Mauricio
*/
body {
	background-color: #FAFAFA;
}

@font-face {
	font-family: "MyriadPro-Light";
	src: url('../fuentes/MyriadPro-Light.otf');
}

@font-face {
	font-family: "Ancizar-Sans";
	src: url('../fuentes/ancizarsans_bold_italic-webfont.eot');
}

@font-face {
	font-family: "Ancizar-Sans";
	src: url('../fuentes/ancizarsans_bold-webfont.eot');
}

@font-face {
	font-family: "Ancizar-Sans";
	src: url('../fuentes/ancizarsans_regular-webfont.eot');
}

@font-face {
	font-family: "Ancizar-Sans";
	src: url('../fuentes/ancizarsans_italic-webfont.eot');
}

.titulo-estilo-myriad {
	font-size: 42px;
	color: #646464;
}

.titulo-medio {
	font-size: 14px;
	color: #333333;
}

.contenido-titulo-general-myriad-1 {
	font-size: 17px;
	color: #333333;
}

.contenido-titulo-general-myriad-3 {
	font-size: 42px;
	color: #16A8E2;;
	padding-top: 23px;
	float: left;
	margin-bottom: 30px;
}

.contenido-titulo-general-myriad-3-colecciones {
	font-size: 42px;
	color: #00AB51;
	padding-top: 23px;
	float: left;
	margin-bottom: 30px;
	width: 470px;
	text-align: left;
}

.cabezote-colecciones {
	background-image: url('../images/colecciones/barra_superior.png');
	height: 30px;
	Color: #FFFFFF;
	font-weight: bold;
	font-size: 12px;
	padding-top: 8px;
	padding-left: 50px;
}

.contendido-titulo-principal {
	display: table;
	width: 100%;
	border-bottom: #333333 solid 1px;
}

.logo-pequeÃƒÂ±o-principal {
	vertical-align: top;
	float: right;
}

.logo-pequeÃƒÂ±o-principal-colecciones {
	vertical-align: top;
	float: left;
	padding-top: 3px;
}

.contenido-titulo-general-myriad-2 {
	color: #646464;
	font-size: 16px;
	font-weight: bold;
	line-height: 42px;
	margin-top: 0px;
	border-bottom: 2px solid #16A8E2;
	margin-bottom: 0px;
	padding-bottom: 0px;
	text-align: right;
}

.contenido-titulo-general-ancizar-left {
	color: #646464;
	font-size: 15px;
	font-weight: bold;
	line-height: 30px;
	margin-top: 0px;
	border-bottom: 2px solid #16A8E2;
	margin-bottom: 0px;
	padding-bottom: 0px;
	text-align: left;
}

#principal {
	width: 950px;
	margin: 15px auto 15px auto;
	line-height: 1.25em;
}

#contenido {
	margin: auto 10px auto 10px;
}

.contenido-informacion {
	float: left;
	vertical-align: text-top;
	width: 705px;
	border-radius: 8px;
	border: 1px solid #DCDCDC;
	background-color: white;
}

.contenido-informacion-colecciones {
	float: right;
	vertical-align: text-top;
	width: 710px;
	background-color: #FFFFFF;
	margin-left: 10px;
}

.contenido-informacion-interno {
	float: left;
	width: 710px;
	/* 	background-color: #FFFFFF; */
}

.contenido-informacion-interno1 {
	float: left;
	width: 600px;
	background-color: #FFFFFF;
}

.contenedor-informacion1 {
	float: left;
	width: 500px;
	background-color: #FFFFFF;
	min-height: 700px;
}

.contenedor-informacion {
	background-color: #FFFFFF;
	/*border-left: 1px solid #DCDCDC;
	border-right: 1px solid #DCDCDC;*/
	padding: 15px;
	padding-right: 10px;
	min-height: 700px;
	border-radius: 8px;
	margin-top: -6px;
}

.contenido-nombre-colecciones {
	width: 670px;
	background-color: #FFFFFF;
	Color: #464646;
	font-size: 28px;
	line-height: 29px;
	padding-bottom: 13px;
	min-height: 70px;
	display: table;
}

.espacio-titulo-colecciones {
	width: 400px;
	float: left;
	min-height: 40px;
	vertical-align: bottom;
	padding-top: 30px;
	padding-left: 20px;
}

.contenido-menu-adicional {
	float: left;
	width: 210px;
	display: block;
}

.ui-datatable table {
	border-bottom: 1px solid;
}

.contenido-menu-interno {
	float: right;
	width: 216px;
	display: block;
}

.menu-superior {
	font-size: 1rem;
	display: table;
	padding-bottom: 15px;
	width: 210px;
	padding-right: 10px;
}

.cabezote-derecho-menu {
	background-image: url('../images/her-paginas/cabezote_derecho.png');
	height: 22px;
	Color: #F5F5F5;
	font-weight: bold;
	font-size: 12px;
	padding-top: 8px;
	padding-left: 15px;
	margin-bottom: 0px;
	/**/
}

.cabezote-derecho-menu-principal {
	background-image:
		url('../images/her-paginas/cabezote_derecho_principal.png');
	height: 22px;
	Color: #F5F5F5;
	font-weight: bold;
	font-size: 12px;
	padding-top: 8px;
	padding-left: 15px;
	margin-bottom: 0px;
}

.cabezote-derecho-menu-especifico {
	background-image: url('../images/her-general/fondo_menu_especifico.png');
	height: 30px;
	Color: #F5F5F5;
	font-weight: bold;
	font-size: 1rem;
	padding-left: 21px;
	margin-bottom: 0px;
	width: 216px;
	line-height: 30px;
}

.contenido-nombre-titulo-iterno {
	width: 675px;
	background-color: #FFFFFF;
	Color: #464646;
	font-size: 24px;
	line-height: 29px;
	padding-bottom: 10px;
	border-bottom: 2px solid #16A8E2;
	margin-bottom: 10px;
}

.menu ul {
	float: left;
	padding: 0px;
	margin: 0px;
	width: 210px;
	list-style-type: none;
}

.menu li {
	padding: 0px;
	margin: 0px;
}

.menu li a {
	float: left;
	width: 210px;
	text-decoration: none;
	background-image: url('../images/her-paginas/caja_flecha_ppal.png');
	text-align: left;
	color: #464646;
	height: 31px;
	padding-left: 23px;
	/**/
	line-height: 31px;
}

.menu li a:hover {
	color: #16A8E2;
	font-weight: bold;
}

.menuPagBuscadores ul {
	float: left;
	padding: 0px;
	margin: 0px;
	width: 210px;
	list-style-type: none;
}

.menuPagBuscadores li {
	padding: 0px;
	margin: 0px;
}

.menuPagBuscadores li a {
	float: left;
	width: 187px;
	text-decoration: none;
	background-image: url('../images/her-paginas/caja_flecha.png');
	text-align: left;
	/*font-weight: bold;*/
	font-size: 12px;
	color: #464646;
	height: 24px;
	padding-top: 7px;
	padding-left: 23px;
}

.menuPagBuscadores li a:hover {
	color: #16A8E2;
	font-weight: bold;
}

.menu-grande ul {
	float: left;
	padding: 0px;
	margin: 0px;
	width: 100%;
	list-style-type: none;
	border-top: 1px solid #D9D9D9;
}

.menu-grande li {
	padding: 0px;
	margin: 0px;
}

.menu-grande li a {
	float: left;
	width: 97%;
	text-decoration: none;
	text-align: left;
	font-size: 12px;
	color: #464646;
	padding-top: 7px;
	padding-left: 10px;
	background-color: #FFFFFF;
	border: 1px solid #D9D9D9;
	padding-bottom: 7px;
	padding-right: 10px;
	border-top: none;
}

.menu-grande li a:hover {
	color: #16A8E2;
	font-weight: bold;
}

.menu-grande1 ul {
	float: left;
	padding: 0px;
	margin: 0px;
	width: 100%;
	list-style-type: none;
	border-top: 1px solid #D9D9D9;
}

.menu-grande1 li {
	padding: 0px;
	margin: 0px;
}

.menu-grande1 li a {
	float: left;
	width: 188px;
	text-decoration: none;
	text-align: left;
	font-size: 12px;
	color: #464646;
	padding-top: 7px;
	padding-left: 10px;
	background-color: #FFFFFF;
	border: 1px solid #D9D9D9;
	padding-bottom: 7px;
	padding-right: 10px;
	border-top: none;
}

.menu-grande1 li a:hover {
	color: #16A8E2;
	font-weight: bold;
}

.informacion-titulo {
	font-size: 17px;
	padding-bottom: 16px;
	/*font-weight: bold;*/
	padding-top: 15px;
	/**/
	color: #16A8E2;
}

.informacion-titulo-secciones {
	font-size: 17px;
	/*font-weight: bold;*/
	padding-top: 9px;
	/**/
	color: #16A8E2;
}

.informacion-titulo-secciones-colecciones {
	font-size: 17px;
	font-weight: bold;
	padding-top: 9px;
	color: #00AB51;
}

.informacion {
	background-color: #FFFFFF;
	color: #464646;
	line-height: 16px;
	float: right;
	margin-bottom: 12px !important;
	margin: 4px;
	width: 660px;
}

.informacion-texto {
	font-size: 14px;
	background-color: #FFFFFF;
	border-bottom: 0.094em solid #DCDCDC;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 19px;
	margin-bottom: 10px;
	text-align: justify;
	padding-top: 12px;
	color: #464646;
}

.informacion-texto-no-linea {
	font-size: 14px;
	background-color: #FFFFFF;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
	text-align: justify;
	padding-top: 12px;
	color: #464646;
}

.informacion-texto-funcytca {
	font-size: 15px;
	background-color: #FFFFFF;
	border-bottom: 0.094em solid #DCDCDC;
	padding-bottom: 20px;
	line-height: 19px;
	margin-bottom: 10px;
	text-align: justify;
	/*font-family: Lucida Grande, Lucida Sans Unicode, Helvetica;*/
	padding-top: 12px;
	color: #464646;
}

.contenido-nombre {
	padding-top: 15px;
	width: 560px;
	background-color: #FFFFFF;
	/**/
	Color: #464646;
	font-size: 28px;
	line-height: 29px;
	padding-bottom: 13px;
}

.contenido-nombre1 {
	padding-top: 15px;
	width: 550px;
	background-color: #FFFFFF;
	/**/
	Color: #464646;
	font-size: 32px;
	line-height: 29px;
	padding-bottom: 10px;
}

/* .final-contenedor-informacion { */
/* 	/*background-image: */
/* 		url('../images/her-paginas/final_caja_informacion.png');*/
* /
	/* 	height: 7px; */
	/* 	background-repeat: no-repeat;; */
	/* } */ 

.lista-informacion ul {
	float: left;
	padding: 0px;
	margin: 0px;
	width: 210px;
	list-style-type: none;
}

.lista-informacion li {
	padding: 0px;
	margin: 0px;
}

.lista-informacion li a {
	float: left;
	width: 197px;
	text-decoration: none;
	background-image: url('../images/her-paginas/caja_menu_medio.png');
	text-align: left;
	font-size: 12px;
	color: #464646;
	height: 24px;
	padding-top: 7px;
	padding-left: 13px;
}

.lista-informacion li a:hover {
	color: #16A8E2;
	font-weight: bold;
}

.menu-informacion {
	padding-bottom: 15px;
	display: table;
}

.titulo-informacion {
	border-top: 2px solid #16A8E2;
	width: 670px;
	background-color: #FFFFFF;
	padding-top: 15px;
	text-align: right;
}

.titulo-informacion-colecciones {
	border-top: 2px solid #00AB51;
	width: 655px;
	background-color: #FFFFFF;
	padding-top: 15px;
	text-align: right;
	margin-left: 20px;
}

.informacion-subtitulo {
	font-size: 14px;
	/*	font-weight: bold;*/
}

.cvlac {
	font-size: 14px;
	color: #16A8E2;
}

.informacion-subtitulo a {
	font-size: 14px;
	text-decoration: none;
	color: #16A8E2;
	/*font-weight: bold;*/
}

.informacion-subtitulo a:hover {
	color: #464646;
}

.informacion-subtitulo-link a {
	text-decoration: none;
	color: #464646;
}

.informacion-subtitulo-link a:hover {
	color: #16A8E2;
}

.informacion-subtexto {
	padding-bottom: 12px;
	padding-right: 20px;
}

.informacion-subtexto a {
	text-decoration: none;
	color: #16A8E2;
	font-weight: bold;
}

.informacion-subtexto a:hover {
	color: #828282;
}

.informacion-subtexto-uppercase {
	padding-bottom: 12px;
	text-transform: uppercase;
}

.informacion-texto ul {
	margin-left: 0px;
	padding-left: 15px;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	list-style-image: url('../images/her-paginas/punto_listado.png');
}

.informacion-texto-funcytca ul {
	margin-left: 0px;
	padding-left: 14px;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	list-style-image: url('../images/her-paginas/punto_listado.png');
}

.logo-hermes {
	width: 210px;
	height: 97px;
	background-repeat: no-repeat;
	margin-bottom: 5px;
}

.mypanel .ui-widget-content {
	background-color: #edf4f9;
}

.panelgrid-sinbordes-padding {
	width: 100%;
}

.panelgrid-sinbordes-padding td {
	border: none;
	padding: 7px 5px !important;
	font-size:12px;
}

.estilo-panelgrid-sinbordes, .panel-interno-tabla .estilo-panelgrid-sinbordes
	{
	border-collapse: separate;
	border: none;
}

.estilo-panelgrid-sinbordes tr, .estilo-panelgrid-sinbordes td,
	.panel-interno-tabla .estilo-panelgrid-sinbordes tr,
	.panel-interno-tabla .estilo-panelgrid-sinbordes td {
	border: none;
	padding: 0px;
	color: #464646;
	padding-left: 3px;
}

.estilo-panelgrid-sinbordes1 tr, .estilo-panelgrid-sinbordes1 td,
	.panel-interno-tabla .estilo-panelgrid-sinbordes1 tr,
	.panel-interno-tabla .estilo-panelgrid-sinbordes1 td {
	border: none;
	padding: 0px;
	color: #464646;
	padding-left: 0px;
}

.estilo-panelgrid-sinbordesC tr, .estilo-panelgrid-sinbordesC td,
	.panel-interno-tabla .estilo-panelgrid-sinbordesC tr,
	.panel-interno-tabla .estilo-panelgrid-sinbordesC td {
	border: none;
	padding: 0px;
	color: #464646;
	padding-left: 0px;
	background: #F1F3F3;
	background-color: #F1F3F3;
	margin-left: 2px;
}

.panelgrid-sinbordes-interno {
	border-collapse: collapse;
}

.panelgrid-sinbordes-interno tr, .panelfrin-sinbordes-interno td {
	border: none;
	padding: 0px;
	color: #464646;
	padding-left: 3px;
}

.menu-roles .ui-panelmenu a {
	/* 	font-size: 12px; */
	border: none;
}

.menu-roles .ui-panelmenu .ui-panelmenu-header {
	height: 30px;
	border: none;
	background: url(../imgplantilla/__fondomenu.png) repeat-x;
	/* 	font-size: 11px; */
}

.menu-roles .ui-panelmenu .ui-panelmenu-header a {
	color: #FFFFFF;
	height: 18px;
	font-weight: bold;
	margin-top: 8px;
	padding-top: 7px;
}

.menu-roles .ui-corner-all {
	border-radius: 2px 2px 2px 2px;
}

.menu-roles .ui-panelmenu .ui-panelmenu-header .ui-icon {
	position: absolute;
	left: 8px;
	top: 50%;
	margin-top: -6px;
	background: url(../images/her-paginas/flecha_menu_interno.png) no-repeat;
}

.menu-roles .ui-corner-top {
	border-radius: 2px 2px 2px 2px;
}

.usuario-registrado {
	width: 210px;
	text-align: left;
	background: url(../images/her-paginas/fondo_nombre_usuario.png)
		no-repeat;
	color: #464646;
	height: 31px;
	padding-left: 13px;
	font-weight: bold;
	line-height: 31px;
}

.cabeza-login {
	width: 210px;
	background-color: #FFFFFF;
	display: table;
}

.login-bienvenido {
	float: left;
	background: url(../images/her-paginas/fondo_bienvenidos.png) no-repeat;
	height: 30px;
	width: 210px;
	color: #F5F5F5;
	font-size: 1rem;
	padding-left: 13px;
	font-weight: bold;
	line-height: 30px;
}

.botones-login {
	float: left;
	border: none;
	width: 310px;
	padding-bottom: 9px;
}

.login-inicio {
	border: none;
	width: 210px;
}

.login-salir {
	width: 210px;
	border: none;
}

.login-inicio a {
	background-image: url('../images/her-paginas/boton_inicio.png');
	background: url('../images/her-paginas/boton_inicio.png');
	border: none;
	width: 32px;
	height: 31px;
}

.login-inicio a:hover {
	background-image: url('../images/her-paginas/boton_inicio_rollover.png');
	background: url('../images/her-paginas/boton_inicio_rollover.png');
}

.boton_salir {
	background-image: url('../images/her-paginas/boton_salir.png');
	background: url('../images/her-paginas/boton_salir.png');
	border: none;
	width: 105px;
	height: 31px;
	text-align: left;
	font-weight: bold;
	color: #FAFAFA;
	float: right;
}

.boton_salir:hover {
	background-image: url('../images/her-paginas/boton_salir_rollover.png');
	background: url('../images/her-paginas/boton_salir_rollover.png');
}

.boton_inicio {
	background-image: url('../images/her-paginas/boton_inicio.png');
	background: url('../images/her-paginas/boton_inicio.png');
	border: none;
	width: 105px;
	height: 31px;
	text-align: left;
	font-weight: bold;
	color: #FAFAFA;
	float: left;
}

.boton_inicio:hover {
	background-image: url('../images/her-paginas/boton_inicio_rollover.png');
	background: url('../images/her-paginas/boton_inicio_rollover.png');
}

.menu-roles .ui-panelmenu .ui-panelmenu-content {
	border: 1px solid #DCDCDC;
	border-top: 0px none;
	background-color: #FFFFFF;
}

.menu-roles .ui-widget-content {
	background: rgb(255, 255, 255);
	color: #464646;
}

.contenido-titulo-investigador-principal {
	width: 675px;
	background-color: #FFFFFF;
	Color: #464646;
	font-size: 24px;
	line-height: 29px;
	background-image: url('../images/her-paginas/rol_investigador.png');
	height: 54px;
	background-repeat: no-repeat;
	margin-top: 6px;
	border-bottom: 2px solid #16A8E2;
	margin-bottom: 17px;
}

.tabla-inicio {
	
}

.tabla-inicio a {
	text-decoration: none;
	color: #464646;
	font-weight: bold;
}

.panel-iconos-home {
	padding-left: 45px;
	padding-right: 25px;
	padding-top: 15px;
	padding-bottom: 12px;
	clear: both;
}

.estilo-panelgrid-sinbordes-inicio tr,
	.estilo-panelgrid-sinbordes-inicio td {
	padding: 0px;
	color: #464646;
}

.panel-iconos-home .ui-widget-content {
	background: rgb(255, 255, 255);
	color: rgb(34, 34, 34);
}

.panel-iconos-home .ui-datagrid-column {
	padding: 0px;
	border: none;
	width: 125px;
}

.panel-iconos-home .ui-datagrid-row {
	border: none;
}

.panel-iconos-home .ui-datagrid-data {
	border: none;
	border-collapse: collapse;
}

.panel-inicio-investigador {
	background-image: url('../images/her-paginas/h_hermes.png');
	background: url('../images/her-paginas/h_hermes.png');
	min-height: 459px;
	background-repeat: no-repeat;
	min-width: 670px;
	background-position: center;
}

.contenido-nombre-interno {
	width: 670px;
	background-color: #FFFFFF;
	color: #464646;
	font-size: 24px;
	line-height: 29px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 2px solid #787878;
}

.panelgrid-interno-sinbordes .ui-widget-content {
	border: 1px solid #FFFFFF;
}

.estilo-propio .ui-widget {
	/* 	font-size: 12px; */
	
}

.estilo-propio .ui-datatable .ui-datatable-data td, .estilo-propio .ui-datatable .ui-datatable-data-empty td
	{
	border-width: 0px;
	background-color: #FFFFFF;
	color: #464646;
}

.estilo-propio .ui-widget-content {
	border: 0px solid rgb(166, 201, 226);
	border-bottom: 1px solid #CCCCCC;
	background:
		url("/hermes/javax.faces.resource/images/ui-bg_inset-hard_100_fcfdfd_1x100.png.xhtml?ln=primefaces-redmond")
		repeat-x scroll 50% bottom rgb(252, 253, 253);
	color: rgb(34, 34, 34);
}

.estilo-propio-list .ui-widget-content {
	border: 0px solid rgb(166, 201, 226);
	background:
		url("/hermes/javax.faces.resource/images/ui-bg_inset-hard_100_fcfdfd_1x100.png.xhtml?ln=primefaces-redmond")
		repeat-x scroll 50% bottom rgb(252, 253, 253);
	color: rgb(34, 34, 34);
}

.estilo-propio .ui-datatable th div.ui-dt-c, .estilo-propio .ui-datatable .ui-datatable-data td div.ui-dt-c,
	.estilo-propio .ui-datatable .ui-datatable-data-empty td div.ui-dt-c,
	.estilo-propio .ui-datatable tfoot td div.ui-dt-c {
	padding: 28px 0px;
	padding-right: 15px;
	overflow: hidden;
}

.estilo-propio .ui-datatable th div.ui-dt-c {
	padding: 0px 20px 0px 0px;
	background: none;
	/* 	font-size: 14px; */
	color: #464646;
}

.estilo-propio .ui-datatable th {
	background: none;
	border: none;
	padding-bottom: 23px;
}

.estilo-propio .ui-state-default, .estilo-propio .ui-widget-content .ui-state-default,
	.estilo-propio .ui-widget-header .ui-state-default {
	font-weight: bold;
	color: rgb(46, 110, 158);
	text-align: left;
}

.estilo-propio .ui-widget-content a {
	text-decoration: none;
	color: #16A8E2;
	font-weight: bold;
}

.estilo-propio .ui-widget-content a:hover {
	color: #464646;
}

.estilo-propio 
.filtro-proyecto {
	background-color: #000000;
}

.estilo-propio .ui-datatable .ui-column-filter {
	display: block;
	margin: auto;
	background-color: #FFFFFF;
	color: #464646;
	border-color: #CCCCCC;
	margin-top: 10px;
}

.estilo-propio .ui-inputfield, .estilo-propio .ui-widget-content .ui-inputfield,
	.estilo-propio .ui-widget-header .ui-inputfield {
	box-shadow: none;
}

.estilo-dataTable-sinbordes .ui-datatable, .estilo-dataTable-sinbordes .ui-datatable-data td,
	.estilo-dataTable-sinbordes .ui-datatable, .ui-datatable-data-empty td
	{
	border-width: 0px;
	border-style: solid;
	border-color: inherit;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

.titulo {
	color: #464646;
	font-size: 18px;
	font-weight: bold;
}

.mensajeerror {
	Color: #FF0000;
	font-size: 12px;
	font-weight: bold;
}

.mensajeerror2 {
	Color: #c76309;
	font-size: 14px;
	font-weight: bold;
}

.labels_proyecto {
	Color: #000000;
	font-size: 13px;
	font-weight: bold;
}

.verde_schedule .fc-event-skin {
	background-color: #00FF00;
	color: black;
}

.rojo_schedule .fc-event-skin {
	background: red;
	color: white;
}

.naranja_schedule .fc-event-skin {
	background: orange;
	color: white;
}

.rojo_oscuro_schedule .fc-event-skin {
	background: #C00000;
	color: white;
}

.grande {
	font-size: 1rem;
}

.pequennio {
	font-size: 0.9rem;
}

.pequennio-08 {
	font-size: 0.8rem;
}

.derecha {
	text-align: right;
}

.ocultar-nombres-columnas table thead tr {
	display: none;
}

.ocultar-nombres-columnas2 table thead th {
	display: none;
}

.negrilla {
	font-weight: bold;
}

.dataList-sin-borde .ui-widget-content {
	border: none;
}

.pequennio-negrilla {
	font-size: 0.9rem;
	font-weight: bold;
}

.naranja {
	color: #FF8000;
	font-size: 12px;
}

.azul {
	/* color: #A6C9E2; */
	color: #2E6E9E;
}

.azul-pequennio {
	font-size: 0.9rem;
	color: #2E6E9E;
}

/* opacidad/transparencia de un componente deshabilitado, por omisiÃƒÂ³n 0.35 */
.ui-state-disabled, .ui-widget-content .ui-state-disabled,
	.ui-widget-header .ui-state-disabled {
	opacity: 0.7;
}

.cabezote-derecho-menu-interior {
	background-image: url('../images/her-paginas/cabezote_derecho.png');
	height: 22px;
	Color: #F5F5F5;
	font-weight: bold;
	font-size: 12px;
	padding-top: 8px;
	padding-left: 15px;
	margin-bottom: 0px;
}

.menu-interior ul {
	padding: 0px;
	margin: 0px;
	width: 210px;
	list-style-type: none;
	background-color: #000000;
}

.menu-interior li {
	height: 24px;
}

.menu-interior li a {
	width: 210px;
	text-decoration: none;
	background-image: url('../images/her-paginas/caja_flecha.png');
	text-align: left;
	font-size: 12px;
	color: #464646;
	height: 24px;
	padding-top: 7px;
	padding-left: 23px;
}

.filtro-proyecto-campo {
	background-color: #000000;
}

.ui-datatable.DataTable th, .ui-datatable.DataTable tr, .ui-datatable.DataTable td,
	.ui-datatable.DataTable column, .ui-datatable.DataTable {
	background: rgba(220, 220, 220, 0.50) none;
	border: none !important;
	border-color: rgba(0, 0, 0, 0) !important;
	-webkit-background-clip: border !important;
	color: rgba(0, 0, 0, 0);
}

.DataTable.ui-datatable table thead {
	display: none;
	border: none !important;
}

.DataTable table * {
	border: none !important;
}

.ui-datatable-odd {
	border-bottom: 2px solid #a6c9e2;
}

.contenido-titulo-ficha-minima {
	width: 675px;
	background-color: #FFFFFF;
	Color: #464646;
	font-size: 24px;
	line-height: 29px;
	background-image: url('../images/her-general/ficha_minima_titulo.png');
	height: 54px;
	background-repeat: no-repeat;
	margin-top: 6px;
	border-bottom: 2px solid #16A8E2;
	margin-bottom: 17px;
}

.contenido-titulo-avales-registrados {
	width: 675px;
	background-color: #FFFFFF;
	Color: #464646;
	font-size: 24px;
	line-height: 29px;
	background-image: url('../images/her-general/avales_registrados.png');
	height: 54px;
	background-repeat: no-repeat;
	margin-top: 6px;
	border-bottom: 2px solid #16A8E2;
	margin-bottom: 17px;
}

.ui-datatable .ui-datatable-data td, .ui-datatable .ui-datatable-data-empty td
	{
	border-color: #A6C9E2;
}

.contenido-titulo-solicitudes {
	width: 675px;
	background-color: #FFFFFF;
	Color: #464646;
	font-size: 24px;
	line-height: 29px;
	background-image:
		url('../images/her-buscadores/titulo_cabezote_solicitudes.png');
	height: 54px;
	background-repeat: no-repeat;
	margin-top: 6px;
	border-bottom: 2px solid #16A8E2;
	margin-bottom: 17px;
}

.contenido-titulo-informes {
	width: 675px;
	background-color: #FFFFFF;
	Color: #464646;
	font-size: 24px;
	line-height: 29px;
	background-image:
		url('../images/her-buscadores/titulo_cabezote_informes.png');
	height: 54px;
	background-repeat: no-repeat;
	margin-top: 6px;
	border-bottom: 2px solid #16A8E2;
	margin-bottom: 17px;
}

.contenido-titulo-evaluacion {
	width: 675px;
	background-color: #FFFFFF;
	Color: #464646;
	font-size: 24px;
	line-height: 29px;
	background-image:
		url('../images/her-buscadores/titulo_cabezote_evaluacion.png');
	height: 54px;
	background-repeat: no-repeat;
	margin-top: 6px;
	border-bottom: 2px solid #16A8E2;
	margin-bottom: 17px;
}

.contenido-titulo-avalar-direcccion {
	width: 675px;
	background-color: #FFFFFF;
	Color: #464646;
	font-size: 24px;
	line-height: 29px;
	background-image:
		url('../images/her-buscadores/titulo_cabezote_aval_direccion.png');
	height: 54px;
	background-repeat: no-repeat;
	margin-top: 6px;
	border-bottom: 2px solid #16A8E2;
	margin-bottom: 17px;
}

.contenido-titulo-inbox {
	width: 675px;
	background-color: #FFFFFF;
	Color: #464646;
	font-size: 24px;
	line-height: 29px;
	background-image:
		url('../images/her-buscadores/titulo_cabezote_inbox.png');
	height: 54px;
	background-repeat: no-repeat;
	margin-top: 6px;
	border-bottom: 2px solid #16A8E2;
	margin-bottom: 17px;
}

.contenido-titulo-revision-informes {
	width: 675px;
	background-color: #FFFFFF;
	Color: #464646;
	font-size: 24px;
	line-height: 29px;
	background-image:
		url('../images/her-buscadores/titulo_cabezote_revision_informes.png');
	height: 54px;
	background-repeat: no-repeat;
	margin-top: 6px;
	border-bottom: 2px solid #16A8E2;
	margin-bottom: 17px;
}

.contenido-titulo-alertas-solicitudes-aprobadas {
	width: 675px;
	background-color: #FFFFFF;
	Color: #464646;
	font-size: 24px;
	line-height: 29px;
	background-image:
		url('../images/her-buscadores/titulo_cabezote_alertas_solicitudes.png');
	height: 54px;
	background-repeat: no-repeat;
	margin-top: 6px;
	border-bottom: 2px solid #16A8E2;
	margin-bottom: 17px;
}

.contenido-titulo-solicitud-aprobada {
	width: 675px;
	background-color: #FFFFFF;
	Color: #464646;
	font-size: 24px;
	line-height: 29px;
	background-image:
		url('../images/her-buscadores/titulo_cabezote_solicitud_aprobada.png');
	height: 54px;
	background-repeat: no-repeat;
	margin-top: 6px;
	border-bottom: 2px solid #16A8E2;
	margin-bottom: 17px;
}

.contenido-titulo-administrar-proyecto {
	width: 675px;
	background-color: #FFFFFF;
	Color: #464646;
	font-size: 24px;
	line-height: 29px;
	background-image:
		url('../images/her-buscadores/titulo_cabezote_administrar_proyecto.png');
	height: 54px;
	background-repeat: no-repeat;
	margin-top: 6px;
	border-bottom: 2px solid #16A8E2;
	margin-bottom: 17px;
}

.contenido-titulo-aval-informes {
	width: 675px;
	background-color: #FFFFFF;
	Color: #464646;
	font-size: 24px;
	line-height: 29px;
	background-image:
		url('../images/her-buscadores/titulo_cabezote_aval_informes.png');
	height: 54px;
	background-repeat: no-repeat;
	margin-top: 6px;
	border-bottom: 2px solid #16A8E2;
	margin-bottom: 17px;
}

.contenido-titulo-general-myriad {
	width: 675px;
	color: #646464;
	font-size: 42px;
	line-height: 42px;
	margin-top: 6px;
	margin-bottom: 10px;
	padding-bottom: 15px;
	border-bottom: 2px solid #16A8E2;
}

.contenido-titulo-general-ancizar-100 {
	width: 100%;
	color: #646464;
	font-size: 42px;
	line-height: 42px;
	margin-top: 6px;
	margin-bottom: 10px;
	padding-bottom: 15px;
	padding-left: 5px;
	padding-right: 5px;
	border-bottom: 2px solid #16A8E2;
}

.contenido-titulo-general-no-border {
	width: 675px;
	color: #646464;
	font-size: 42px;
	line-height: 42px;
	margin-top: 6px;
	padding-bottom: 15px;
}

.border-bottom-blue {
	border-bottom: 2px solid #16A8E2;
	margin-bottom: 10px;
	padding-bottom: 15px;
}

.contenido-titulo-general-ancizar {
	width: 675px;
	color: #646464;
	font-size: 42px;
	line-height: 42px;
	margin-top: 6px;
	margin-bottom: 10px;
	padding-bottom: 15px;
	border-bottom: 2px solid #16A8E2;
}

.columnaEtiquetasGrupos {
	vertical-align: top;
	font-size: 1.1rem;
}

.contenido-webdocente {
	float: left;
	vertical-align: text-top;
	width: 930px;
	background-color: #FFFFFF;
	margin-right: 10px;
}

.regresar-buscador-docente {
	background-image: url('../images/her-paginas/boton_regresar.png');
	height: 30px;
	color: white;
	font-weight: bold;
	font-size: 12px;
	padding-top: 8px;
	padding-left: 15px;
	margin-bottom: 0px;
	background-repeat: no-repeat;
}

.paraIconosHermes {
	background-image: url('../images/her-paginas/flecha_abajo.png');
	background-repeat: no-repeat;
	text-align: left;
	height: 30px;
	margin-top: 18px;
	margin-left: 5px;
	float: left;
	width: 8px;
}

.seccion-iconos {
	font-size: 20px;
	color: #58595b;
	margin-bottom: 5px;
}

.linea-iconos {
	border-bottom: 2px solid #58595b;
}

.tabla-ficha-minima-rubros tr, .tabla-ficha-minima-rubrostd {
	padding: 3px;
	color: #464646;
	padding-left: 3px;
	font-weight: normal !important;
}

.tabla-ficha-minima-rubros .ui-icon-triangle-1-e {
	background-position: -15px -128px !important;
}

.tabla-ficha-minima-rubros .ui-icon-triangle-1-s {
	background-position: -48px -128px !important;
}

.tabla-ficha-minima-rubros .ui-icon-circle-triangle-e {
	background-position: -0px -192px !important;
}

.tabla-ficha-minima-rubros .ui-icon-circle-triangle-s {
	background-position: -16px -192px !important;
}

.estilo-instructivos .ui-widget {
	/* 	font-size: 12px; */
	
}

.estilo-instructivos .ui-datatable .ui-datatable-data td,
	.estilo-instructivos .ui-datatable .ui-datatable-data-empty td {
	border-width: 0px;
	background-color: #FFFFFF;
	color: #464646;
}

.estilo-instructivos .ui-widget-content {
	border: 0px solid rgb(166, 201, 226);
	background:
		url("/hermes/javax.faces.resource/images/ui-bg_inset-hard_100_fcfdfd_1x100.png.xhtml?ln=primefaces-redmond")
		repeat-x scroll 50% bottom rgb(252, 253, 253);
	color: rgb(34, 34, 34);
}

.estilo-instructivos-list .ui-widget-content {
	border: 0px solid rgb(166, 201, 226);
	background:
		url("/hermes/javax.faces.resource/images/ui-bg_inset-hard_100_fcfdfd_1x100.png.xhtml?ln=primefaces-redmond")
		repeat-x scroll 50% bottom rgb(252, 253, 253);
	color: rgb(34, 34, 34);
}

.estilo-instructivos .ui-datatable th div.ui-dt-c, .estilo-instructivos .ui-datatable .ui-datatable-data td div.ui-dt-c,
	.estilo-instructivos .ui-datatable .ui-datatable-data-empty td div.ui-dt-c,
	.estilo-instructivos .ui-datatable tfoot td div.ui-dt-c {
	overflow: hidden;
	padding: 0px 0px 0px 10px;
}

.estilo-instructivos .ui-datatable th div.ui-dt-c {
	padding: 0px 5px 0px 0px;
	background: none;
	/* 	font-size: 14px; */
	color: #464646;
}

.estilo-instructivos .ui-datatable th {
	background: none;
	border: none;
	padding-bottom: 0px;
}

.estilo-instructivos .ui-state-default, .estilo-instructivos .ui-widget-content .ui-state-default,
	.estilo-instructivos .ui-widget-header .ui-state-default {
	font-weight: bold;
	color: rgb(46, 110, 158);
	text-align: left;
}

.estilo-instructivos .ui-widget-content a {
	text-decoration: none;
	color: #464646;
	font-weight: bold;
}

.estilo-instructivos .ui-widget-content a:hover {
	color: #464646;
}

.estilo-instructivos .ui-datatable .ui-column-filter {
	display: block;
	margin: auto;
	background-color: #FFFFFF;
	color: #464646;
	border-color: #CCCCCC;
	margin-top: 5px;
}

.estilo-instructivos .ui-inputfield, .estilo-instructivos .ui-widget-content .ui-inputfield,
	.estilo-instructivos .ui-widget-header .ui-inputfield {
	box-shadow: none;
}

.estilo-instructivos .ui-datatable table {
	border-bottom: none;
}

.lineas-tabla .ui-widget-content {
	border: 1px solid rgb(166, 201, 226);
}

.lineas-tabla .ui-datatable .ui-datatable-data td, .lineas-tabla .ui-datatable .ui-datatable-data-empty td
	{
	border: 1px solid rgb(166, 201, 226);
}

.lineas-tabla-list .ui-widget-content {
	border: 1px solid rgb(166, 201, 226);
}

.lineas-tabla .ui-datatable th {
	border: 1px solid rgb(166, 201, 226);
}

.lineas-tabla .ui-datatable th div.ui-dt-c, .lineas-tabla .ui-datatable .ui-datatable-data td div.ui-dt-c,
	.lineas-tabla .ui-datatable .ui-datatable-data-empty td div.ui-dt-c,
	.lineas-tabla .ui-datatable tfoot td div.ui-dt-c {
	overflow: hidden;
	padding: 8px 8px 8px 10px !important;
}

.lineas-tabla .ui-datatable table {
	border: 1px solid rgb(166, 201, 226) !important;
}

.tabView-no-padding {
	margin: -1em -2.2em;
}

.panel_error {
	background-color: #f2dede;
	border-color: #eed3d7;
}

.info_error {
	color: #b94a48;
}

.panel_error .ui-widget-content {
	background: none;
	background-color: #f2dede;
}

.panel_error .ui-panel {
	background-color: #f2dede;
}

.dateTimeField input {
	width: 100% !important;
}