/* 
Hoja de estilo Paginas Buscadores
Autor: Mauricio
*/

.cabezote-buscador{
	background-image: url('../images/her-buscadores/cabezote_buscador_grupos.png');
	height: 30px;
	
	Color:#FFFFFF;
	/*font-weight: bold;*/
	font-size: 12px;
	padding-top: 8px;
	padding-left: 46px;
}
.contenido-titulo-buscador-ensayos{
	width: 675px;
	background-color: #FFFFFF;
	
	Color:#464646;
	font-size: 24px;
	line-height: 29px;
	background-image: url('../images/her-buscadores/titulo_cabezote_ensayos.png');
	height: 54px;
	background-repeat:no-repeat;
	margin-top: 6px;
	border-bottom: 2px solid #16A8E2; 
	margin-bottom: 17px;
}
.columna-etiquetas-buscador{
	background-color: #FFFFFF;
	width: 222px;
	font-size: 14px;
	font-weight: bold;	
	
}

.columna-etiquetas-buscadorC{
	background-color: #FFFFFF;
	width: 222px;
	font-size: 14px;
	font-weight: bold;	
	
	color:#464646;
}


.campo-buscador-nombre{
	width: 390px;
	height: 20px;
	border: none;
	background-color: #F0F0F0;
	
	font-size: 11px;
	color: #787878;
	margin: 0px;
	padding: 0px;
	padding-left: 5px;
}
.boton_buscar{
	background-image: url('../images/her-buscadores/boton_buscar.png');
	background: url('../images/her-buscadores/boton_buscar.png');
	border: none;
	width: 66px;
	height: 30px;
}
.boton_agregar{
	background-image: url('../images/her-buscadores/boton_buscar_2.png') !important;
	background: url('../images/her-buscadores/boton_buscar_2.png') !important;
	border: none;
	width: 106px;
	height: 30px;
	margin-top:10px;
	margin-left:5px;
}
.color-columnas{
	background:#F1F3F3;
}

.contenido-menu-paginas-buscadores{
	float: left;
	width: 210px;
	display:block;
}

.contenido-informacion-paginas-buscadores {
	
	float: right;
	vertical-align: text-top;
	width: 708px;
	background-color: #FFFFFF;
	margin-left: 10px;
	border:1px solid #DCDCDC;
	border-radius:8px;
	margin-bottom:12px;
}


.menu-paginas-buscadores-colecciones a{
	text-decoration: none;
	color: #00AB51;
	font-weight:bold;
	font-size:14px;
}

.menu-paginas-buscadores{
	width: 620px;
}

.menu-paginas-buscadores a{
	text-decoration: none;
	color: #16A8E2;
	font-weight:bold;
}

.separador{
	border-bottom: 0.094em solid #DCDCDC;
}

.dedicacionDocente{
	
	color: #1ea8e0;
	font-size: 18px;
	padding-top:5px;
}

.boton_buscar_colecciones{
	background-image: url('../images/colecciones/boton_buscar_2.png') !important;
	background: url('../images/colecciones/boton_buscar_2.png') !important;
	border: none !important;
	width: 106px;
	height: 30px;
	margin-top:10px;
	margin-left:5px;
}

.cabezote-derecho-buscador-filtro{
	background-image: url('../images/her-buscadores/fondo_titulo-filtro.png');
	height: 23px;
	
	Color:#464646;
	font-weight: bold;
	font-size: 12px;
	padding-top: 8px;
	padding-left: 15px;
	margin-bottom: 0px;
}
.boton-cerrar-filtro{
	background-image: url('../images/her-buscadores/boton_cerrar_filtro.png');
	background: url('../images/her-buscadores/boton_cerrar_filtro.png');
	border: none;
	height: 8px;
	width: 8px;
	padding: 0px;
	margin: 0px;
	margin-top: 4px;
	margin-right: 5px;
}
.boton-cerrar-gris{
	background-image: url('../images/her-buscadores/boton_cerrar_gris.png');
	background: url('../images/her-buscadores/boton_cerrar_gris.png');
	border: none;
	height: 8px;
	width: 8px;
	padding: 0px;
	margin: 0px;
	margin-top: 4px;
	margin-right: 5px;
}
.campo-filtros-usados{
	
	background-color: #FFFFFF;
	padding-top: 2px;
	padding-left: 10px;
	padding-bottom: 2px;
	padding-right: 2px;
	font-size: 12px;
	border-top: 1px solid #DCDCDC ;
	border-bottom: 1px solid #DCDCDC ;
	border-left: 1px solid #DCDCDC ;
	border-right: 1px solid #DCDCDC ;
	min-height: 23px;
}
.campo-filtros-usados ul{
	padding:0px;
	margin:0px;
	padding-left: 3px;
	list-style-type: none;
	background-color: #FFFFFF;
	
	font-size: 12px;
}
.campo-filtros-usados li{
	background-color: #FFFFFF;
	padding-top:4px;
	padding-bottom:4px;
	padding-right: 10px;
}

.campo-filtros-usados-colecciones{
	
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
	padding-right: 5px;
	font-size: 12px;
	border-top: 1px solid #DCDCDC ;
	border-bottom: 1px solid #DCDCDC ;
	border-left: 1px solid #DCDCDC ;
	border-right: 1px solid #DCDCDC ;
}
.campo-filtros-usados-colecciones ul{
	padding:0px;
	margin:0px;
	padding-left: 3px;
	list-style-type: none;
	background-color: #FFFFFF;
	
	font-size: 12px;
}
.campo-filtros-usados-colecciones li{
	background-color: #FFFFFF;
	margin-top:-3px;
	
}
.campo-filtros-usados-colecciones .ui-widget-header {
    border: 0px;
    background: url("") repeat-x scroll 50% 50% #FFFFFF;
    color: #464646;
    font-weight: bold;
    padding-top: 15px;
}
.campo-filtros-usados-colecciones .ui-widget-content {
	border: 1px solid #FFFFFF;
    background: url("") repeat-x scroll 50% bottom #FFFFFF;
}

.panel-inicio{
	background-image: url('../images/her-buscadores/lupa_grande.png');
	background: url('../images/her-buscadores/lupa_grande.png');
	min-height: 459px;
	background-repeat: no-repeat;
	min-width: 670px;
}

.panel-inicio-principal{
	margin:auto;
}

.panel-inicio-colecciones{
	background-image: url('../images/colecciones/lupa_mutis.png');
	background: url('../images/colecciones/lupa_mutis.png');
	min-height: 459px;
	background-repeat: no-repeat;
	min-width: 670px;
	margin-top:70px;
}

.informacion-resultado-buscador-colecciones{
	color: #464646;;
	line-height: 10px;
	
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 14px;
	line-height: 20px;
	border-bottom: 1px solid #DCDCDC;
	width: 660px;
}
.informacion-resultado-buscador-colecciones a{
	text-decoration:none;
	font-weight: bold;
	color: #00AB51;
	font-size: 14px;
}
.informacion-resultado-buscador-colecciones a:hover{
	color: #464646;;
}

.informacion-resultado-buscador{
	color: #464646;
	line-height: 10px;
	/**/
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 14px;
	line-height: 20px;
	border-bottom: 1px solid #DCDCDC;
	width: 660px;
}
.informacion-resultado-buscador a{
	text-decoration:none;
	font-weight: bold;
	color: #16A8E2;
	font-size: 14px;
}
.informacion-resultado-buscador a:hover{
	color: #464646;
}

.informacion-resultado-buscador-convocatorias{
	color: #464646;
	line-height: 10px;
	/**/
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 12px;
	line-height: 20px;
	border-bottom: 1px solid #DCDCDC;
	width: 660px;
	background-color: #FFFFFF;
}
.informacion-resultado-buscador-convocatorias a{
	text-decoration:none;
	color: #16A8E2;
	font-size: 14px;
	font-weight: bold;
}
.informacion-resultado-buscador-convocatorias a:hover{
	color: #464646;
}
.panel-buscador{
	padding-bottom: 15px;
}
.paginator a{
	color: #464646;
	
	font-size: 14px;
	text-decoration:none;
}
.paginator a:hover{
	color: #16A8E2;
}
.paginatorBold a{
	color: #464646;
	
	font-size: 14px;
	text-decoration:none;
	font-weight: bold;
}
.paginatorBold a:hover{
	color: #16A8E2;
}

.paginatorBoldActive a{
	color: #464646;
	
	font-size: 14px;
	text-decoration:none;
	font-weight: bold;
	text-decoration: underline;
}
.paginatorBoldActive a:hover{
	color: #16A8E2;
}
.paginatorContenedor{
	margin: auto;
	width: 680px;
	text-align: center;
}
.informacion-titulo-buscador{
	/**/
	font-size: 17px;
	font-weight: bold;
	margin-top: 35px;
}

.cabezote-informacion-buscador-docente{
	background-image: url('../images/her-paginas/cabezote-buscador-docentes.png');
	height: 22px;
	/**/
	Color:#FFFFFF;
	/*font-weight: bold;*/
	font-size: 12px;
	padding-top: 8px;
	padding-left: 15px;
}

.cabezote-informacion-pagina-buscador{
	background-image: url('../images/her-paginas/cabezote_informacion.png');
	height: 30px;
	/**/
	Color:#FFFFFF;
	/*font-weight: bold;*/
	font-size: 12px;
	padding-top: 8px;
	padding-left: 15px;
}
.cabezote-informacion-pagina-colecciones{
	background-image: url('../images/colecciones/barra_hojavida.png');
	height: 30px;
	
	Color:#FFFFFF;
	/*font-weight: bold;*/
	font-size: 12px;
	padding-top: 8px;
	padding-left: 15px;
}

.cabezote-informacion-pagina-buscador-principal{
	/*background-image: url('../images/her-paginas/cabezote_informacion_principal.png');*/
	height: 7px;
	
	Color:#FFFFFF;
	/*font-weight: bold;*/
	font-size: 12px;
}
/*
	Este estilo es para modificar los componentes de PrimeFaces
*/
.estilo-panelgrid-buscadores{
	border-collapse: collapse;
	padding-top: 30px;
}
.estilo-panelgrid-buscadores tr, .estilo-panelgrid-buscadores td {
    border: none;
    padding: 0px;
	
	font-size: 12px;
	color: #464646;
	padding-left: 3px;
}
.select-item-buscador{
	background-color: #000000;
	border: 1px solid rgb(0, 0, 0);
}
.select-item-buscadorC{
	background-color: #000000;
	border: 1px solid rgb(0, 0, 0);
}
li.ui-selectonemenu-item{
	font-size:1.1rem;
	
    padding: 0px;
    margin: 0px;
}
.panel-buscador .ui-widget-header {
    border: 0px;
    background: url("") repeat-x scroll 50% 50% #FFFFFF;
    color: #464646;
    font-weight: bold;
    padding-top: 15px;
}
.panel-buscador .ui-widget-content {
	border: 1px solid #FFFFFF;
    background: url("") repeat-x scroll 50% bottom #FFFFFF;
}
.estilo-panelgrid-buscadores-1{
	border-collapse: collapse;
}
.estilo-panelgrid-buscadores-1 tr, .estilo-panelgrid-buscadores-1 td {
    border: none;
    padding: 0px;
	
	font-size: 12px;
	color: #464646;
	padding-left: 3px;
}
.estilo-panelgrid-buscadores-1 .ui-state-default {
    width: 430px;
}

.campo-filtros-usados .ui-widget-header {
    border: 0px;
    background: url("") repeat-x scroll 50% 50% #FFFFFF;
    color: #464646;
    font-weight: bold;
    padding-top: 15px;
}
.campo-filtros-usados .ui-widget-content {
	border: 1px solid #FFFFFF;
    background: url("") repeat-x scroll 50% bottom #FFFFFF;
}
.panel-buscador .ui-widget-header .ui-state-active {
    background: #FFFFFF;
    font-weight: bold;
    color: rgb(28, 66, 87);
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
}

.panel-buscador .ui-state-default .ui-widget-content .ui-state-default, panel-buscador .ui-widget-header .ui-state-default{
	border: 1px solid #c5dbec;
	background: #dfeffc 50% 50% repeat-x;
	font-weight: bold;
	color: #2e6e9e;
}


.panel-buscador-colecciones{
	padding-bottom: 15px;
}
.panel-buscador-colecciones .ui-widget-header {
    border: 0px;
    background: url("") repeat-x scroll 50% 50% #FFFFFF;
    color: #00AB51;
    font-weight: bold;
    padding-top: 15px;
}
.panel-buscador-colecciones .ui-widget-content {
	border: 1px solid #FFFFFF;
    background: url("") repeat-x scroll 50% bottom #FFFFFF;
}
.panel-buscador-colecciones .ui-widget-header .ui-state-active{
    background: #dcefe9;
    font-weight: bold;
    color: #00AB51;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
    border: 1px solid #26997a !important;
}

.panel-buscador-colecciones .ui-state-default{ 
	background: #dcefe9;
	border: 1px solid #26997a;
	color:#00AB51;
}
.paraFlechita .ui-state-active .ui-icon{
background-image: url('../images/colecciones/Flecha_busqueda_avanzada.png');
background: url('../images/colecciones/Flecha_busqueda_avanzada.png');
background-repeat: no-repeat;
color:#464646;
}

.paraFlechita .ui-state-default .ui-icon{
background-image: url('../images/colecciones/Flecha_busqueda_avanzada.png');
background: url('../images/colecciones/Flecha_busqueda_avanzada.png');
background-repeat: no-repeat;
color:#464646;
}

.paraFlechita .ui-inputfield{
background: #ffffff;
-moz-box-shadow: none;
-webkit-box-shadow: none;
box-shadow: none;
color: #464646;
}

.paraBorde .ui-state-default{
	border: 1px solid #D2D2D2;
}


.paraFlechita .ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
	margin-top: 10px;
	margin-left: 0px;
}

.paraFlechita .ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger .ui-icon{
	margin-top: 10px;
	margin-left: 0px;
}

.paraFlechita .ui-selectcheckboxmenu .ui-selectcheckboxmenu-label{
	font-weight:normal;
	background: white;
}

.color-columnas .ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-list-item label{
	font-weight:normal !important;
}

.paraFlechita .ui-accordion .ui-accordion-header .ui-icon{
	position: absolute;
	left: 1.2em;
	margin-top:-2px;
}
.paraFlechita .ui-state-default a, .ui-state-default a:link{
	color:#464646;
}

.paraFlechitaMasInfo .ui-state-default .ui-icon{
background-image: url('../images/her-buscadores/Flecha_mas-info_1.png');
background: url('../images/her-buscadores/Flecha_mas-info_1.png');
background-repeat: no-repeat;
color:#464646;
}

.paraFlechitaMasInfo .ui-state-active .ui-icon{
background-image: url('../images/her-buscadores/Flecha_mas-info_2.png');
background: url('../images/her-buscadores/Flecha_mas-info_2.png');
background-repeat: no-repeat;
color:#464646;
}

.paraFlechitaMasInfoPublicaciones .ui-state-default .ui-icon{
background-image: url('../images/her-buscadores/flecha_1.png');
background: url('../images/her-buscadores/flecha_1.png');
background-repeat: no-repeat;
color:#464646;
margin-top: -8px;
}

.paraFlechitaMasInfoPublicaciones .ui-state-active .ui-icon{
background-image: url('../images/her-buscadores/flecha_2.png');
background: url('../images/her-buscadores/flecha_2.png');
background-repeat: no-repeat;
color:#464646;
}

.paraFlechitaMasInfoCobertura .ui-state-default .ui-icon{
background-image: url('../images/her-buscadores/flecha_cobertura_1.png');
background: url('../images/her-buscadores/flecha_cobertura_1.png');
background-repeat: no-repeat;
color:#464646;
margin-top: -8px;
}

.paraFlechitaMasInfoCobertura .ui-state-active .ui-icon{
background-image: url('../images/her-buscadores/flecha_cobertura_2.png');
background: url('../images/her-buscadores/flecha_cobertura_2.png');
background-repeat: no-repeat;
color:#464646;
}

.panel-botones{
	padding-left: 229px; padding-top: 12px;
}
.estilo-panelgrid-buscadores-1 .ui-widget-content .ui-inputfield, .estilo-panelgrid-buscadores-1 .ui-widget-header .ui-inputfield {
    box-shadow: none;
    border: none;
    color: rgb(46, 110, 158);
	width: 405px;  
	border-radius: 0px 0px 0px 0px;
	
	font-size: 11px;
	color: #787878;
	font-weight: normal;
	background-color: #F0F0F0;
    height: 14px;
    margin: 0px;
    outline: medium none;
    padding: 3px;
    font-weight: normal;
    height: 14px;
}
.estilo-panelgrid-buscadores-selects .ui-widget-content .ui-inputfield{
    box-shadow: none;
	
	font-size: 11px;
	color: #787878;
	font-weight: normal;
}
.estilo-panelgrid-buscadores-selects{
	border-collapse: collapse;
	padding-top: 30px;
}
.estilo-panelgrid-buscadores-selects tr, .estilo-panelgrid-buscadores-selects td {
    border: none;
    padding: 0px;
	
	font-size: 12px;
	color: #464646;
	padding-left: 3px;
}
.select-item-buscador-selects{
	background-color: #000000;
	border: 1px solid rgb(0, 0, 0);
}
.estilo-panelgrid-buscadores-selects .ui-state-default, 
.estilo-panelgrid-buscadores-selects .ui-widget-content .ui-state-default, 
.estilo-panelgrid-buscadores-selects .ui-widget-header .ui-state-default {
    border: 1px solid #DCDCDC;
    background: url("") repeat-x scroll 50% 50% #F0F0F0;
    font-weight: bold;
    color: rgb(66, 66, 66);
}
.estilo-panelgrid-buscadores-selects .ui-inputfield {
    margin: 0px;
    outline: medium none;
    padding: 3px;
    font-weight: normal;
    height: 14px;
}
.estilo-panelgrid-buscadores-selects .ui-icon-triangle-1-s {
    background-position: -64px -17px;
}
.estilo-panelgrid-buscadores-selects .ui-widget-content .ui-inputfield{
    box-shadow: none;
	
	font-size: 11px;
	color: #787878;
	font-weight: normal;
}
.estilo-panelgrid-buscadores-dates{
	border-collapse: collapse;
	padding-top: 30px;
}
.estilo-panelgrid-buscadores-dates tr, .estilo-panelgrid-buscadores-dates td {
    border: none;
    padding: 0px;
	
	font-size: 12px;
	color: #464646;
	padding-left: 3px;
}
.estilo-panelgrid-buscadores-dates .ui-widget-content .ui-inputfield {
    box-shadow: none;
	border: 1px solid #DCDCDC;
	
	font-size: 12px;
	color: #464646;
}
.estilo-panelgrid-buscadores-selects-col .ui-widget-content .ui-inputfield{
    box-shadow: none;
	
	font-size: 11px;
	color: #464646;
	font-weight: normal;
}
.estilo-panelgrid-buscadores-selects-col{
	border-collapse: collapse;
	padding-top: 30px;
}
.estilo-panelgrid-buscadores-selects-col tr, .estilo-panelgrid-buscadores-selects-col td {
    border: none;
    padding: 0px;
	
	font-size: 12px;
	color: #464646;
	padding-left: 3px;
}
.select-item-buscador-selects-col{
	background-color: #000000;
	border: 1px solid rgb(0, 0, 0);
}
.estilo-panelgrid-buscadores-selects-col .ui-state-default, 
.estilo-panelgrid-buscadores-selects-col .ui-widget-content .ui-state-default, 
.estilo-panelgrid-buscadores-selects-col .ui-widget-header .ui-state-default {
    border: 1px solid #DCDCDC;
    background: url("") repeat-x scroll 50% 50% #F0F0F0;
    font-weight: bold;
    color: rgb(66, 66, 66);
}
.estilo-panelgrid-buscadores-selects-col .ui-inputfield {
    margin: 0px;
    outline: medium none;
    padding: 5px;
    font-weight: normal;
}
.estilo-panelgrid-buscadores-selects-col .ui-icon-triangle-1-s {
    background-position: -64px -17px;
}
.estilo-panelgrid-buscadores-selects-col .ui-widget-content .ui-inputfield{
    box-shadow: none;
	
	font-size: 11px;
	color: #464646;
	font-weight: normal;
}

.panel-buscar-principal{
	padding-left:0px;
}
.panel-buscar-principal  .boton_buscar_principal{
	background-image: url('../images/her-buscadores/boton_buscador_principal.png');
	background: url('../images/her-buscadores/boton_buscador_principal.png');
	border: none;
	width: 66px;
	height: 32px;
	border-radius: 0px;
}
.panel-buscar-principal .campo-buscador-nombre2{
	width: 435px;
	height: 32px;
	border: none;
	background-color: #F0F0F0;
	background-image: url('../images/her-pagina-principal/fondo_buscar_principal.png');
	background: url('../images/her-pagina-principal/fondo_buscar_principal.png');
	
	font-size: 11px;
	color: #787878;
	margin: 0px;
	padding: 0px;
	padding-left: 0px;
	box-shadow: none;
	border-radius: 0px;
	padding-left: 7px;
	background-position: right top; 
}
.panel-buscar-principal .select-buscador{
	height: 32px;
	border: none;
	border-radius: 0px;
	
	margin: 0px;
	padding: 0px;
	padding-left: 10px;
	background-image: url('../images/her-pagina-principal/select-principal.png');
	background: url('../images/her-pagina-principal/select-principal.png');
	font-size: 12px;
	font-weight: bold;
}
.panel-buscar-principal .select-buscador .ui-inputfield, .panel-buscar-principal .select-buscador .ui-widget-content .ui-inputfield, .panel-buscar-principal  .select-buscador .ui-widget-header .ui-inputfield{
	background: none;
	margin-top: 4px;
	box-shadow: none;
	color: #FFFFFF;
	font-weight: bold;
}
.panel-buscar-principal .select-buscador  .ui-state-default, .panel-buscar-principal .select-buscador  .ui-widget-content .ui-state-default, .panel-buscar-principal .select-buscador .ui-widget-header .ui-state-default {
	background-image: url('../images/her-pagina-principal/select-principal-flecha.png');
	background: url('../images/her-pagina-principal/select-principal-flecha.png');
	padding-top: 5px;
}
.panel-buscar-principal .ui-selectonemenu .ui-selectonemenu-trigger {
	border: none;
	width: 16px;
	height: 100%;
	margin-right:10px;
}
.panel-buscar-principal .select-buscador .ui-state-default .ui-icon {
	background-image: none;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
background: #dcdcdc;
}



.boton-investigadores{
	background-image: url('../images/her-buscadores/investigadores.png') !important;
	background: url('../images/her-buscadores/investigadores.png') !important;
	border: none !important;
	width: 117px;
	height: 30px;
	border-radius: 0px;
	margin-left:5px !important;
	margin-bottom: 8px !important;
}
.boton-investigadores-over{
	background-image: url('../images/her-buscadores/investigadores_over.png') !important;
	background: url('../images/her-buscadores/investigadores_over.png') !important;
	border: none !important;
	width: 117px;
	height: 30px;
	border-radius: 0px;
	margin-left:5px !important;
	margin-bottom: 8px !important;
}
.boton-proyectos{
	background-image: url('../images/her-buscadores/proyectos.png') !important;
	background: url('../images/her-buscadores/proyectos.png') !important;
	border: none !important;
	width: 89px;
	height: 30px;
	border-radius: 0px;
	margin-left:5px !important;
	margin-bottom: 8px !important;
}
.boton-proyectos-over{
	background-image: url('../images/her-buscadores/proyectos_over.png') !important;
	background: url('../images/her-buscadores/proyectos_over.png') !important;
	border: none !important;
	width: 89px;
	height: 30px;
	border-radius: 0px;
	margin-left:5px !important;
	margin-bottom: 8px !important;
}
.boton-grupos{
	background-image: url('../images/her-buscadores/grupos.png') !important;
	background: url('../images/her-buscadores/grupos.png') !important;
	border: none !important;
	width: 74px;
	height: 30px;
	border-radius: 0px;
	margin-left:5px !important;
	margin-bottom: 8px !important;
}
.boton-grupos-over{
	background-image: url('../images/her-buscadores/grupos_over.png') !important;
	background: url('../images/her-buscadores/grupos_over.png') !important;
	border: none !important;
	width: 74px;
	height: 30px;
	border-radius: 0px;
	margin-left:5px !important;
	margin-bottom: 8px !important;
}

.boton-laboratorios{
	background-image: url('../images/her-buscadores/laboratorios.png') !important;
	background: url('../images/her-buscadores/laboratorios.png') !important;
	border: none !important;
	width: 106px;
	height: 30px;
	border-radius: 0px;
	margin-left:5px !important;
	margin-bottom: 8px !important;
}
.boton-laboratorios-over{
	background-image: url('../images/her-buscadores/laboratorios_over.png') !important;
	background: url('../images/her-buscadores/laboratorios_over.png') !important;
	border: none !important;
	width: 106px;
	height: 30px;
	border-radius: 0px;
	margin-left:5px !important;
	margin-bottom: 8px !important;
}

.boton-convocatorias{
	background-image: url('../images/her-buscadores/filtro_convocatorias.png') !important;
	background: url('../images/her-buscadores/filtro_convocatorias.png') !important;
	border: none !important;
	width: 117px;
	height: 30px;
	border-radius: 0px;
	margin-left:5px !important;
	margin-bottom: 8px !important;
}
.boton-semilleros{
	background-image: url('../images/her-buscadores/imagen-semillero.png') !important;
	background: url('../images/her-buscadores/imagen-semillero.png') !important;
	border: none !important;
	width: 74px;
	height: 27px;
	border-radius: 0px;
	margin-left:5px !important;
	margin-bottom: 8px !important;
}
.boton-convocatorias-over{
	background-image: url('../images/her-buscadores/filtro_convocatorias_over.png') !important;
	background: url('../images/her-buscadores/filtro_convocatorias_over.png') !important;
	border: none !important;
	width: 117px;
	height: 30px;
	border-radius: 0px;
	margin-left:5px !important;
	margin-bottom: 8px !important;
}

.boton-sede{
	background-image: url('../images/her-buscadores/filtro_sede.png') !important;
	background: url('../images/her-buscadores/filtro_sede.png') !important;
	border: none !important;
	width: 61px;
	height: 30px;
	border-radius: 0px;
	margin-left:5px !important;
	margin-bottom: 8px !important;
}
.boton-sede-over{
	background-image: url('../images/her-buscadores/filtro_sede_over.png') !important;
	background: url('../images/her-buscadores/filtro_sede_over.png') !important;
	border: none !important;
	width: 61px;
	height: 30px;
	border-radius: 0px;
	margin-left:5px !important;
	margin-bottom: 8px !important;
}
.boton-sede-nacional{
	background-image: url('../images/her-buscadores/filtro_sede_nacional.png') !important;
	background: url('../images/her-buscadores/filtro_sede_nacional.png') !important;
	border: none !important;
	width: 155px;
	height: 30px;
	border-radius: 0px;
	margin-left:5px !important;
	margin-bottom: 8px !important;
}
.boton-sede-nacional-over{
	background-image: url('../images/her-buscadores/filtro_sede_nacional_over.png') !important;
	background: url('../images/her-buscadores/filtro_sede_nacional_over.png') !important;
	border: none !important;
	width: 155px;
	height: 30px;
	border-radius: 0px;
	margin-left:5px !important;
	margin-bottom: 8px !important;
}
.boton-lider-semillero{
	background-image: url('../images/her-buscadores/imagen-lider-semillero.png') !important;
	background: url('../images/her-buscadores/imagen-lider-semillero.png') !important;
	border: none !important;
	width: 110px;
	height: 26px;
	border-radius: 0px;
	margin-left:5px !important;
	margin-bottom: 8px !important;
}
.boton-facultad{
	background-image: url('../images/her-buscadores/filtro_facultad.png') !important;
	background: url('../images/her-buscadores/filtro_facultad.png') !important;
	border: none !important;
	width: 81px;
	height: 30px;
	border-radius: 0px;
	margin-left:5px !important;
	margin-bottom: 8px !important;
}
.boton-facultad-over{
	background-image: url('../images/her-buscadores/filtro_facultad_over.png') !important;
	background: url('../images/her-buscadores/filtro_facultad_over.png') !important;
	border: none !important;
	width: 81px;
	height: 30px;
	border-radius: 0px;
	margin-left:5px !important;
	margin-bottom: 8px !important;
}
.boton-area{
	background-image: url('../images/her-buscadores/filtro_area.png') !important;
	background: url('../images/her-buscadores/filtro_area.png') !important;
	border: none !important;
	width: 159px;
	height: 30px;
	border-radius: 0px;
	margin-left:5px !important;
	margin-bottom: 8px !important;
}
.boton-area-over{
	background-image: url('../images/her-buscadores/filtro_area_over.png') !important;
	background: url('../images/her-buscadores/filtro_area_over.png') !important;
	border: none !important;
	width: 159px;
	height: 30px;
	border-radius: 0px;
	margin-left:5px !important;
	margin-bottom: 8px !important;
}

.boton-estado{
	background-image: url('../images/her-buscadores/filtro_estado.png') !important;
	background: url('../images/her-buscadores/filtro_estado.png') !important;
	border: none !important;
	width: 81px;
	height: 30px;
	border-radius: 0px;
	margin-left:5px !important;
	margin-bottom: 8px !important;
}
.boton-estado-over{
	background-image: url('../images/her-buscadores/filtro_estado_over.png') !important;
	background: url('../images/her-buscadores/filtro_estado_over.png') !important;
	border: none !important;
	width: 81px;
	height: 30px;
	border-radius: 0px;
	margin-left:5px !important;
	margin-bottom: 8px !important;
}

.boton-area-tematica{
	background-image: url('../images/her-buscadores/filtro_ejetematico.png') !important;
	background: url('../images/her-buscadores/filtro_ejetematico.png') !important;
	border: none !important;
	width: 106px;
	height: 30px;
	border-radius: 0px;
	margin-left:5px !important;
	margin-bottom: 8px !important;
}
.boton-area-tematica-over{
	background-image: url('../images/her-buscadores/filtro_ejetematico_over.png') !important;
	background: url('../images/her-buscadores/filtro_ejetematico_over.png') !important;
	border: none !important;
	width: 106px;
	height: 30px;
	border-radius: 0px;
	margin-left:5px !important;
	margin-bottom: 8px !important;
}

.boton-entidad{
	background-image: url('../images/her-buscadores/filtro_entidad.png') !important;
	background: url('../images/her-buscadores/filtro_entidad.png') !important;
	border: none !important;
	width: 122px;
	height: 30px;
	border-radius: 0px;
	margin-left:5px !important;
	margin-bottom: 8px !important;
}
.boton-entidad-over{
	background-image: url('../images/her-buscadores/filtro_entidad_over.png') !important;
	background: url('../images/her-buscadores/filtro_entidad_over.png') !important;
	border: none !important;
	width: 122px;
	height: 30px;
	border-radius: 0px;
	margin-left:5px !important;
	margin-bottom: 8px !important;
}

.boton-lider-proyecto{
	background-image: url('../images/her-buscadores/filtro_liderproy.png') !important;
	background: url('../images/her-buscadores/filtro_liderproy.png') !important;
	border: none !important;
	width: 134px;
	height: 30px;
	border-radius: 0px;
	margin-left:5px !important;	
	
}

@-moz-document url-prefix() {
.boton-lider-proyecto{
	background-image: url('../images/her-buscadores/filtro_liderproy.png') !important;
	background: url('../images/her-buscadores/filtro_liderproy.png') !important;
	border: none !important;
	width: 134px;
	height: 30px;
	border-radius: 0px;
	margin-left:5px !important;
	margin-bottom: -10px;
}
.boton-lider-proyecto-over{
	background-image: url('../images/her-buscadores/filtro_liderproy_over.png') !important;
	background: url('../images/her-buscadores/filtro_liderproy_over.png') !important;
	border: none !important;
	width: 134px;
	height: 30px;
	border-radius: 0px;
	margin-left:5px !important;
	margin-bottom: -10px;
}

}

.boton-dedicacion{
	background-image: url('../images/her-buscadores/filtro_dedicacion.png') !important;
	background: url('../images/her-buscadores/filtro_dedicacion.png') !important;
	border: none !important;
	width: 96px;
	height: 30px;
	border-radius: 0px;
	margin-left:5px !important;
	margin-bottom: 8px !important;
}
.boton-dedicacion-over{
	background-image: url('../images/her-buscadores/filtro_dedicacion_over.png') !important;
	background: url('../images/her-buscadores/filtro_dedicacion_over.png') !important;
	border: none !important;
	width: 96px;
	height: 30px;
	border-radius: 0px;
	margin-left:5px !important;
	margin-bottom: 8px !important;
}

::i-block-chrome, .boton-lider-proyecto{
	background-image: url('../images/her-buscadores/filtro_liderproy.png') !important;
	background: url('../images/her-buscadores/filtro_liderproy.png') !important;
	border: none !important;
	width: 134px;
	height: 30px;
	border-radius: 0px;
	margin-left:5px !important;
	margin-bottom: 8px !important;
}

.boton-lider-proyecto-over{
	background-image: url('../images/her-buscadores/filtro_liderproy_over.png') !important;
	background: url('../images/her-buscadores/filtro_liderproy_over.png') !important;
	border: none !important;
	width: 134px;
	height: 30px;
	border-radius: 0px;
	margin-left:5px !important;
	
}

::i-block-chrome, .boton-lider-proyecto-over 
{
	background-image: url('../images/her-buscadores/filtro_liderproy_over.png') !important;
	background: url('../images/her-buscadores/filtro_liderproy_over.png') !important;
	border: none !important;
	width: 134px;
	height: 30px;
	border-radius: 0px;
	margin-left:5px !important;
	margin-bottom: 8px !important;
}

.boton-lider-grupo{
	background-image: url('../images/her-buscadores/filtro_lider.png') !important;
	background: url('../images/her-buscadores/filtro_lider.png') !important;
	border: none !important;
	width: 117px;
	height: 30px;
	border-radius: 0px;
	margin-left:5px !important;
}
.boton-lider-grupo-over{
	background-image: url('../images/her-buscadores/filtro_lider_over.png') !important;
	background: url('../images/her-buscadores/filtro_lider_over.png') !important;
	border: none !important;
	width: 117px;
	height: 30px;
	border-radius: 0px;
	margin-left:5px !important;
}

::i-block-chrome, .boton-lider-grupo{
	background-image: url('../images/her-buscadores/filtro_lider.png') !important;
	background: url('../images/her-buscadores/filtro_lider.png') !important;
	border: none !important;
	width: 117px;
	height: 30px;
	border-radius: 0px;
	margin-left:5px !important;
	margin-bottom: 8px !important;
}
::i-block-chrome, .boton-lider-grupo-over{
	background-image: url('../images/her-buscadores/filtro_lider_over.png') !important;
	background: url('../images/her-buscadores/filtro_lider_over.png') !important;
	border: none !important;
	width: 117px;
	height: 30px;
	border-radius: 0px;
	margin-left:5px !important;
	margin-bottom: 8px !important;
}

@-moz-document url-prefix() {
.boton-lider-grupo{
	background-image: url('../images/her-buscadores/filtro_lider.png') !important;
	background: url('../images/her-buscadores/filtro_lider.png') !important;
	border: none !important;
	width: 117px;
	height: 30px;
	border-radius: 0px;
	margin-left:5px !important;
	margin-bottom: -10px;
}
.boton-lider-grupo-over{
	background-image: url('../images/her-buscadores/filtro_lider_over.png') !important;
	background: url('../images/her-buscadores/filtro_lider_over.png') !important;
	border: none !important;
	width: 117px;
	height: 30px;
	border-radius: 0px;
	margin-left:5px !important;
	margin-bottom: -10px;
}

}




.boton-linea{
	background-image: url('../images/her-buscadores/filtro_linea.png') !important;
	background: url('../images/her-buscadores/filtro_linea.png') !important;
	border: none !important;
	width: 161px;
	height: 30px;
	border-radius: 0px;
	margin-left:5px !important;
	margin-bottom: 8px !important;
}
.boton-linea-over{
	background-image: url('../images/her-buscadores/filtro_linea_over.png') !important;
	background: url('../images/her-buscadores/filtro_linea_over.png') !important;
	border: none !important;
	width: 161px;
	height: 30px;
	border-radius: 0px;
	margin-left:5px !important;
	margin-bottom: 8px !important;
}



.panel-buscar-principal-colecciones{
	padding-left:4px;
}

.panel-buscar-principal-colecciones  .boton_buscar_principal_colecciones{
	background-image: url('../images/colecciones/boton_buscar_1.png');
	background: url('../images/colecciones/boton_buscar_1.png');
	border: none;
	width: 66px;
	height: 32px;
	border-radius: 0px;
}
.panel-buscar-principal-colecciones .campo-buscador-nombre2{
	width: 590px;
	height: 32px;
	background-color: #F0F0F0;
	background-image: url('../images/her-pagina-principal/fondo_buscar_principal.png');
	background: url('../images/her-pagina-principal/fondo_buscar_principal.png');
	
	font-size: 11px;
	color: #787878;
	margin: 0px;
	padding: 0px;
	padding-left: 0px;
	box-shadow: none;
	border-radius: 0px;
	padding-left: 7px;
	background-position: right top; 
}
.panel-buscar-principal-colecciones .select-buscador{
	height: 32px;
	border: none;
	border-radius: 0px;
	
	margin: 0px;
	padding: 0px;
	padding-left: 10px;
	background-image: url('../images/her-pagina-principal/select-principal.png');
	background: url('../images/her-pagina-principal/select-principal.png');
	font-size: 12px;
	font-weight: bold;
}
.panel-buscar-principal-colecciones .select-buscador .ui-inputfield, .panel-buscar-principal .select-buscador .ui-widget-content .ui-inputfield, .panel-buscar-principal  .select-buscador .ui-widget-header .ui-inputfield{
	background: none;
	margin-top: 4px;
	box-shadow: none;
	color: #FFFFFF;
	font-weight: bold;
}
.panel-buscar-principal-colecciones .select-buscador  .ui-state-default, .panel-buscar-principal .select-buscador  .ui-widget-content .ui-state-default, .panel-buscar-principal .select-buscador .ui-widget-header .ui-state-default {
	background-image: url('../images/her-pagina-principal/select-principal-flecha.png');
	background: url('../images/her-pagina-principal/select-principal-flecha.png');
	padding-top: 5px;
}
.panel-buscar-principal-colecciones .ui-selectonemenu .ui-selectonemenu-trigger {
	border: none;
	width: 16px;
	height: 100%;
}
.panel-buscar-principal-colecciones .select-buscador .ui-state-default .ui-icon {
	background-image: none;
}

.boton-sede-colecciones{
	background-image: url('../images/colecciones/filtro_sede.png') !important;
	background: url('../images/colecciones/filtro_sede.png') !important;
	border: none !important;
	width: 61px;
	height: 30px;
	border-radius: 0px;
	margin-left:5px !important;
	margin-bottom: 8px !important;
}
.boton-sede-colecciones-over{
	background-image: url('../images/colecciones/filtro_sede_over.png') !important;
	background: url('../images/colecciones/filtro_sede_over.png') !important;
	border: none !important;
	width: 61px;
	height: 30px;
	border-radius: 0px;
	margin-left:5px !important;
	margin-bottom: 8px !important;
}
.boton-facultad-colecciones{
	background-image: url('../images/colecciones/filtro_facultad.png') !important;
	background: url('../images/colecciones/filtro_facultad.png') !important;
	border: none !important;
	width: 81px;
	height: 30px;
	border-radius: 0px;
	margin-left:4px !important;
	margin-bottom: 8px !important;
}
.boton-facultad-colecciones-over{
	background-image: url('../images/colecciones/filtro_facultad_over.png') !important;
	background: url('../images/colecciones/filtro_facultad_over.png') !important;
	border: none !important;
	width: 81px;
	height: 30px;
	border-radius: 0px;
	margin-left:4px !important;
	margin-bottom: 8px !important;
}
.boton-tipo-colecciones{
	background-image: url('../images/colecciones/filtro_tipo.png') !important;
	background: url('../images/colecciones/filtro_tipo.png') !important;
	border: none !important;
	width: 135px;
	height: 30px;
	border-radius: 0px;
	margin-left:4px !important;
	margin-bottom: 8px !important;
}
.boton-tipo-colecciones-over{
	background-image: url('../images/colecciones/filtro_tipo_over.png') !important;
	background: url('../images/colecciones/filtro_tipo_over.png') !important;
	border: none !important;
	width: 135px;
	height: 30px;
	border-radius: 0px;
	margin-left:4px !important;
	margin-bottom: 8px !important;
}


.ui-widget-content .ui-state-active{
color: #000000;
}
.tooltip-mesage{
	background-color: #000000;
}
.tooltip-message-colecciones{
	background-color: #000000;
	border-color: #00AB51;
}

.toltip-principal .ui-tooltip .ui-widget .ui-widget-content {
	border: none;
	background: #b0e1f5;
	color: #1974a0;
	padding: 10px;
	line-height: 15px;
	font-size: 12px;
}
.avanzadaDiv{
	margin-top: 10px;
	width:658px;
	padding-left:4px;
}
.avanzadaDiv .ui-accordion .ui-accordion-header {
	cursor: pointer;
	margin-top: 0px;
	background: #F1F3F3;
	border-radius: 2px;
	border: 1px solid #D2D2D2;
	font-weight: normal;
}
.avanzadaDiv .ui-accordion .ui-accordion-content {
	border: 1px solid #D2D2D2;
	border-top: none;
	background: #F1F3F3;
	padding: 10px;
}
.botonesFiltros{
}
.avanzadaDiv .ui-state-active a, .avanzadaDiv .ui-state-active a:link, .avanzadaDiv .ui-state-active a:visited {
	color: #4D4E4E;
	text-decoration: none;
}

.masInformacionDiv{
	margin: 0px;
}
.masInformacionDiv .ui-accordion .ui-accordion-header {
	cursor: pointer;
	margin: 0px;
	background: #2d2d2d;
	border-radius: 0px;
	border: none;
	font-weight: normal;
	height: 20px;
	pading: 0px;
}
.masInformacionDiv .ui-accordion .ui-accordion-content {
	border: none;
	background: #2d2d2d;
	padding: 0px;
	color: #8b8b8b;
	margin: 0px;
}
.masInformacionDiv .ui-state-active a, .masInformacionDiv .ui-state-active a:link, .masInformacionDiv .ui-state-active a:visited {
	color: #8b8b8b;
	text-decoration: none;
	margin: 0px;
	
	padding: 0px;
	padding-left: 24px;
	padding-top: 2px;
}
.masInformacionDiv .ui-accordion .ui-accordion-header a {
	padding: 0px;
	padding-left: 24px;
	padding-top: 2px;	
	color: #8b8b8b;
	/**/
	font-size: 12px;
}
.masInformacionDiv .ui-accordion .ui-accordion-header .ui-icon {
	position: absolute;
	left: 3px;
	top: 65%;
}

.avanzadaDivC{
	margin-top: 10px;
	width:668px;
	padding-left:3px;
}
.avanzadaDivC .ui-accordion .ui-accordion-header {
	cursor: pointer;
	margin-top: 0px;
	background: #F1F3F3;
	border-radius: 2px;
	border: 1px solid #D2D2D2;
	font-weight: normal;
}
.avanzadaDivC .ui-accordion .ui-accordion-content {
	border: 1px solid #D2D2D2;
	border-top: none;
	background: #F1F3F3;
	padding: 10px;
}

.avanzadaDivC .ui-state-active a, .avanzadaDiv .ui-state-active a:link, .avanzadaDiv .ui-state-active a:visited {
	color: #727070;
	text-decoration: none;
	font-weight: bold;
}

.masInformacionPublicaciones{
	margin: 0px;
}
.masInformacionPublicaciones .ui-accordion .ui-accordion-header {
	cursor: pointer;
	margin: 0px;
	border-radius: 0px;
	border: none;
	height: 20px;
	pading: 0px;
	background: white;
	color: #1ea8e0;
	height: 30px;
	
	font-size: 16px;
	border-bottom:1px;
	border-bottom-color: #1ea8e0;
	border-bottom-style: solid;
}
.masInformacionPublicaciones .ui-accordion .ui-accordion-content {
	border: none;
	padding: 0px;
	margin: 0px;
}
.masInformacionPublicaciones .ui-state-active a, .masInformacionPublicaciones .ui-state-active a:link, .masInformacionPublicaciones .ui-state-active a:visited {
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	padding-left: 24px;
	padding-top: 2px;
}
.masInformacionPublicaciones .ui-accordion .ui-accordion-header a {
	padding: 0px;
	padding-left: 24px;
	padding-top: 6px;	
	border-top: none;
	border-left:none;
	border-right:none;
	background: white;
	color: #1ea8e0;
}
.masInformacionPublicaciones .ui-accordion .ui-accordion-header .ui-icon {
	position: absolute;
	left: 3px;
	top: 65%;
}

.masInformacionCobertura{
	margin: 0px;
}
.masInformacionCobertura .ui-accordion .ui-accordion-header {
	cursor: pointer;
	margin: 0px;
	border-radius: 0px;
	border: none;
	height: 20px;
	pading: 0px;
	background: white;
	color: #00AB51;
	height: 30px;
	
	font-size: 16px;
	border-bottom:1px;
	border-bottom-color: #00AB51;
	border-bottom-style: solid;
}
.masInformacionCobertura .ui-accordion .ui-accordion-content {
	border: none;
	padding: 0px;
	margin: 0px;
}
.masInformacionCobertura .ui-state-active a, .masInformacionPublicaciones .ui-state-active a:link, .masInformacionPublicaciones .ui-state-active a:visited {
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	padding-left: 24px;
	padding-top: 2px;
}
.masInformacionCobertura .ui-accordion .ui-accordion-header a {
	padding: 0px;
	padding-left: 24px;
	padding-top: 6px;	
	border-top: none;
	border-left:none;
	border-right:none;
	background: white;
	color: #00AB51;
}
.masInformacionCobertura .ui-accordion .ui-accordion-header .ui-icon {
	position: absolute;
	left: 3px;
	top: 65%;
}

.panel-buscar-principal-docentes{
	text-align:center;
}

.panel-buscar-principal-docentes  .boton_buscar_principal{
	background-image: url('../images/her-buscadores/boton_buscador_principal.png');
	background: url('../images/her-buscadores/boton_buscador_principal.png');
	border: none;
	width: 66px;
	height: 32px;
	border-radius: 0px;
}
.panel-buscar-principal-docentes .campo-buscador-nombre2{
	width: 596px;
	height: 32px;
	border: none;
	background-color: #F0F0F0;
	background-image: url('../images/her-pagina-principal/fondo_buscar_principal.png');
	background: url('../images/her-pagina-principal/fondo_buscar_principal.png');
	font-size: 11px;
	color: #787878;
	margin: 0px;
	padding: 0px;
	padding-left: 0px;
	box-shadow: none;
	border-radius: 0px;
	padding-left: 7px;
	background-position: right top; 
}

.avanzadaDivD{
	margin-top: 20px !important;
	width:700px;
	margin:auto;
}
.avanzadaDivD .ui-accordion .ui-accordion-header {
	cursor: pointer;
	margin-top: 0px;
	background: #F1F3F3;
	border-radius: 2px;
	border: 1px solid #D2D2D2;
	font-weight: normal;
}
.avanzadaDivD .ui-accordion .ui-accordion-content {
	border: 1px solid #D2D2D2;
	border-top: none;
	background: #F1F3F3;
	padding: 18px;
}

.avanzadaDivD .ui-state-active a, .avanzadaDiv .ui-state-active a:link, .avanzadaDiv .ui-state-active a:visited {
	color: #727070;
	text-decoration: none;
	font-weight: bold;
}

.panel-inicio-docentes{
	background-image: url('../images/her-buscadores/lupa_grande.png');
	background: url('../images/her-buscadores/lupa_grande.png');
	min-height: 459px;
	background-repeat: no-repeat;
	width: 670px;
	margin:auto;
}
.busqueda-exacta{
	color: #787878;
	font-size: 11px;
	padding-left: 6px;
	margin-top: -6px;
	
}
.busqueda-exacta .ui-state-active .ui-icon {
	width: 16px;
	height: 16px;
	/* referencia a imagen en etiqueta style de las plantillas .xhtml */
}
.busqueda-exacta .ui-icon-check{
	background-position: -66px -146px !important;
}
.busqueda-exacta .ui-icon {
	width: 16px !important;
	height: 16px !important;
	/* referencia a imagen en etiqueta style de las plantillas .xhtml */
}

.busqueda-dedicacion{

}
