/* 
Hoja de estilo General
Autor: Mauricio
*/

body{
	background-color: #FAFAFA;
	margin:0px;
	padding:0px;
	font-family: "Ancizar sans", Tahoma, Geneva, sans-serif;
}
.panel-error-principal{
	margin-top: 111px;
	text-align:center;
}
.panel-titulo-error{
	
	font-weight: bold;
	font-size: 22px;
	color: #646464;
	margin-top: 21px;
}
.panel-texto-error{
	
	line-height: 16 px;
	font-size: 13px;
	color: #646464;
	margin-top: 21px;
}
.panel-boton-error{
	margin-top: 21px;
}
.boton-regresar{
	background-image: url('../images/her-error/boton_volver.png');
	background: url('../images/her-error/boton_volver.png');
	width: 160px;
	height: 30px;
	border: none;
}
.boton-regresar:hover{
	background-image: url('../images/her-error/boton_volver_rollover.png');
	background: url('../images/her-error/boton_volver_rollover.png');
}
.boton-ir-inicio{
	background-image: url('../images/her-error/ir_pag_inicio.png');
	background: url('../images/her-error/ir_pag_inicio.png');
	width: 161px;
	height: 30px;
	border: none;
}
.boton-ir-inicio:hover{
	background-image: url('../images/her-error/ir_pag_inicio_rollover.png');
	background: url('../images/her-error/ir_pag_inicio_rollover.png');
}