.ui-widget, .menu li a, .ui-widget input {
	font-family: unset !important;
}

.ui-fieldset-legend {
	font-size: unset !important;
}

/* #principal ol, #principal ul{ */
/* 	list-style: inherit; */
/* } */

ol, ul{
	list-style: inherit;
}

#unalTop .firstMenu ul.socialLinks {
  list-style: none !important;
}

hr{
	height: unset !important;
}

.ui-button-icon-only {
    width: 1.4em;
}

.ui-button-text-only .ui-button-text {
    padding: .2em 0.5em;
}

.ui-selectonemenu .ui-selectonemenu-trigger {
    width: unset;
}

/* #principal table { */
/* 	margin: 0 auto; */
/* } */

#principal table tr td, #principal table tr th {
	padding: 0.125em;
}

.ui-menu .ui-menuitem-text {
    font-size: 1.1rem;
}

.ui-datatable th div.ui-dt-c{
    padding: 2px 5px;
}

.ui-datatable th div.ui-dt-c, .ui-datatable .ui-datatable-data td div.ui-dt-c, .ui-datatable .ui-datatable-data-empty td div.ui-dt-c, .ui-datatable tfoot td div.ui-dt-c {
	padding: 4px 4px;
}

.ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger{
	width: unset;
}

.ui-stack {
/*     position: absolute; */
/*     bottom: unset; */
/* 	right: unset; */
	z-index: 1000;
}

.ui-stack .openStack li span {
	font-family: unset !important;
	height: unset;
}

.ui-accordion .ui-accordion-header a
{
	padding: 4px 4px 4px 30px;
}

.ui-fieldset, .ui-fieldset .ui-fieldset-legend {
    padding: 4px 15px;
}

.ui-widget .ui-widget{
	font-size: 14px !important;
}

label {
    font-weight: 100 !important;
}