/* 
Hoja de estilo para footer general
Autor: Mauricio
*/

#footer-contenedor {
	width: 970px;
	margin: 10px auto auto auto;
}

#footer {
	background-image: url('../images/her-footer/footer.png');
	margin: auto 10px auto 10px;
	height: 73px;
}

#footer-top {
	height: 23px;
	padding-left: 45px;
	padding-top: 7px;
}

#footer-top a {
	text-decoration: none;
	
	color: #464646;
	font-weight: bold;
/* 	font-size: 12px; */
}

#footer-bottom {
	height: 43px;
}

#footer-bottom-left {
	float: left;
	height: 25px;
	
/* 	font-size: 11px; */
	color: #646464;
	padding-left: 30px;
	padding-top: 14px;
	font-weight: bold;
}

#footer-bottom-left a {
	text-decoration: none;
	
/* 	font-size: 11px; */
	color: #646464;
	font-weight: normal;
}

#footer-bottom-left a:hover {
	text-decoration: underline;
}

#footer-bottom-right {
	float: right;
	height: 25px;
	width: 149px;
	
	color: #646464;
/* 	font-size: 11px; */
	font-weight: bold;
}

#logo_UN {
	width: 950px;
	margin: 20px auto 20px auto;
	text-align: center;
}

#page-content {
	background: #FFFFFF;
	height: 100%;

	/*min-height: 520px;
	padding: 20px 110px 20px;*/
}

#page-content .left-menu {
	float: right;
	width: 200px;
}

#page-content .content-container {
	float: left;
	width: 710px;
}

#page-content .content-container fieldset.example-cnt {
	background: #ffffff;
	border: 1px solid #dddddd;

	/*border-top: 0;
	margin: 0;
	min-height: 470px;
	padding: 15px 20px 10px;*/
}

.clear {
	clear: both;
	height: 0%;
}

#contenedor {
	margin: 0px auto 0px auto;
	width: 930px;
	background-color: #FFFFFF;
}

.ui-datagrid-content {
	border: none;
	text-align: center;
}

.login-superior {
	background-image: url('../images/login-superior.png');
	width: 210px;
	height: 4px;
}

.login-inferior {
	background-image: url('../images/login-inferior.png');
	width: 210px;
	height: 4px;
	margin-bottom: 14px;
}

.login {
	padding-bottom: 14px;
	display: table;
	background-image: url('../images/login-superior.png');
	background-repeat: no-repeat;
	width: 210px;
	background-color: #2D2D2D;
}

.login-texto {
/* 	font-size: 11px; */
	color: #A0A0A0;
	line-height: 25px;
	padding-left: 10px;
}

.box-login {
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
}

/** PanelMenu **/
.ui-panelmenu {
	width: auto;
	
/* 	font-size: 11px; */
	font-weight: bold;
}

.ui-panelmenu .ui-panelmenu-header {
	cursor: pointer;
	position: relative;
	margin: 0;
	zoom: 1;
	background: url(../imgplantilla/__fondomenu.png) repeat-x;
/* 	font-size: 11px; */
	font-weight: bold;
}

.ui-panelmenu .ui-panelmenu-header a {
	display: block;
	font-size: 1em;
	padding: .5em .5em .5em 2.2em;
	color: #FFFFFF;
}

.ui-panelmenu .ui-panelmenu-header .ui-icon {
	position: absolute;
	left: .5em;
	top: 50%;
	margin-top: -8px;
}

.ui-panelmenu .ui-panelmenu-content {
	padding: 0.2em 0 0.2em 0.2em;
	border-top: 0;
	margin-top: -2px;
	position: relative;
	top: 1px;
	overflow: auto;
	zoom: 1;
}

.ui-panelmenu .ui-panelmenu-header.ui-state-disabled,.ui-panelmenu .ui-panelmenu-header.ui-state-disabled a
	{
	cursor: default;
}

.ui-panelmenu .ui-menu-list {
	position: static;
}

.ui-panelmenu .ui-menuitem {
	width: 100%;
	float: left;
	clear: both;
	margin: 1px 0;
	padding: 0;
}

.ui-panelmenu .ui-menuitem-link {
	display: block;
	width: 92%;
	outline: none;
	text-decoration: none;
	font-weight: 400;
	border: solid 1px transparent;
	float: left;
	line-height: 16px;
	padding: 0.3em;
	cursor: pointer;
}

.ui-panelmenu .ui-icon {
	display: inline-block;
	float: left;
}

.ui-panelmenu .ui-menuitem-text {
	float: left;

	/*COLOR SUB MENÚ */
}

.ui-panelmenu .ui-menu-parent .ui-menu-list {
	display: none;
	margin-left: 20px;
}

/*
	Para evitar la disminución de tamaños cuando se anidan componentes
 	font-size: 90%;  el tamaño del componente hijo es 90% del padre 
*/
.ui-widget,.ui-widget .ui-widget {
/* 	font-size: 12px !important; */
}

.estilo-panelgrid-sinbordes tr,.estilo-panelgrid-sinbordes td {
	padding: 3px;
	
	color: #464646;
	padding-left: 3px;
}

.estilo-panelgrid-sinbordes1 tr,.estilo-panelgrid-sinbordes1 td {
	
	
	color: #464646;
	
}

.panel-interno-diego .ui-selectmanycheckbox .ui-datatable .ui-datatable-data td,.panel-interno-diego .ui-selectmanycheckbox .ui-datatable .ui-datatable-data-empty td
	{
	border: 1px solid #FFFFFF;
}

.panel-interno-diego .ui-widget .ui-datatable .ui-datatable-data td,.panel-interno-diego .ui-widget .ui-datatable .ui-datatable-data-empty td
	{
	border: 1px solid #FFFFFF;
}

.panelgrid-interno-sinbordes .ui-widget-content {
	border: 1px solid #FFFFFF;
}

/*
	Ocultar el header de las columnas en dataTable
*/

.tituloAccordion {
    /*background: pink;*/
    background: #D2E5F5;
/*     font-size: 14px !important; */
}