/* 
Hoja de estilo pagina principal
Autor: Mauricio
*/
@font-face {
	font-family: "MyriadPro-Light";
	src: url('../fuentes/MyriadPro-Light.otf');
}
#principal{
	width: 950px;
/* 	margin: 15px 0px 0px 0px; */
}
#contenido{
	margin: auto 10px auto 10px;
}
.contenido-informacion{
	float: left;
	width: 710px;
	background-color: #FFFFFF;
	margin-right: 10px;
}
.contenido-menu{
	float: right;
	width: 210px;
	display:block;
}

.cabezote-informacion-pagina{
	background-image: url('../images/her-pagina-principal/cabezote-contenido-principal.png');
	height: 22px;
/* 	font-family: Arial, Helvetica, sans-serif; */
	Color:#FFFFFF;
	font-weight: bold;
	font-size: 12px;
	padding-top: 8px;
	padding-left: 15px;
}
.campo-buscador-nombre1{
	width: 435px;
	height: 22px;
	border: none;
	background-color: #F0F0F0;
/* 	font-family: Arial, Helvetica, sans-serif; */
	font-size: 11px;
	color: #787878;
	margin: 0px;
	padding: 0px;
	padding-left: 5px;
	box-shadow:none;
	
}
.select-buscador{
	width: 150px;
	height: 28px;
	border: none;
	background-color: #F0F0F0;
/* 	font-family: Arial, Helvetica, sans-serif; */
	font-size: 11px;
	color: #787878;
	margin: 0px;
	padding: 0px;
	padding-left: 0px;
}
.select-item-buscador{
	background-color: #000000;
	border: 1px solid rgb(0, 0, 0);
}
.boton_buscar{
	background-image: url('../images/her-buscadores/boton_buscar.png');
	background: url('../images/her-buscadores/boton_buscar.png');
	border: none;
	width: 66px;
	height: 30px;
}
.logo-hermes{
	width: 210px;
	height: 97px;
	background-repeat: no-repeat;
	margin-bottom: 5px;
}
.contenido-titulo-pagina-principal{
	width: 650px;
	height: 44px;
	background-repeat:no-repeat;
	border-bottom: 2px solid #787878; 
	padding-bottom: 35px;
	font-size: 42px;
	color: #646464;
/* 	font-family: MyriadPro-Light,Arial, Helvetica, sans-serif; */
	margin-bottom: 21px;
	padding-top: 15px;
}
.contenido-titulo-pagina-segundaria{
	width: 675px;
	background-color: #FFFFFF;
	background-image: url('../images/her-pagina-principal/titulo_cabezote_convocatorias.png');
	height: 44px;
	background-repeat:no-repeat;
	margin-top: 11px;
	border-bottom: 2px solid #787878; 
}
.informacion-capsula{
	background-color: #FFFFFF;
	color: #464646;
	line-height: 16px;
/* 	font-family: Arial, Helvetica, sans-serif; */
}
.informacion-capsula a{
	text-decoration: none;
	font-weight: bold;
/* 	font-family: Arial, Helvetica, sans-serif; */
	color: #464646;
}
.informacion-capsula .informacion-titulo{
	font-size: 17px;
	font-weight: bold;
	padding-top: 21px;
	color: #464646;
}
.informacion-texto{
	font-size: 14px;
	color: #464646;
	background-color: #FFFFFF;
	text-align: justify;
}
.informacion-texto ul{
	margin-left: 0px;
	padding-left: 15px;
	margin-bottom: 0px;
	margin-top: 10px;
	margin-bottom: 0px;
	list-style-image: url('../images/her-paginas/punto_listado.png');
}
.informacion-texto ul a{
	color: #16A8E2;
}
.informacion-capsula a:hover{
	color: #464646;
}

.contenedor-informacion{
	background-color: #FFFFFF;
	/*border-left: 1px solid #DCDCDC;
	border-right: 1px solid #DCDCDC;*/
	padding-right: 20px;
	padding-left: 15px;
	padding-bottom: 15px;
}
.final-contenedor-informacion{
	/*background-image: url('../images/her-paginas/final_caja_informacion.png');*/
	height:7px;
	background-repeat: no-repeat;;
}
.informacion-titulo{
	font-size: 17px;
	font-weight: bold;
	color: #787878;
}
.informacion-titulo-presentacion{
	font-size: 17px;
	padding-top: 10px;
	font-weight: bold;
	padding-bottom: 21px;
	color: #16A8E2;
}
.informacion-titulo-descargas{
	font-size: 17px;
	font-weight: bold;
	padding-top: 21px;
	color: #464646;
	border-top: 1px solid #DCDCDC;
	margin-top: 21px;
}
.informacion{
	background-color: #FFFFFF;
	color: #646464;
	line-height: 16px;
/* 	font-family: Arial, Helvetica, sans-serif; */
}
.cabezote-derecho-menu{
	background-image: url('../images/her-paginas/cabezote_derecho.png');
	height: 22px;
	/*font-family: Arial, Helvetica, sans-serif;*/
	color:#F5F5F5;
	font-weight: bold;
	font-size: 12px;
	padding-top: 8px;
	padding-left: 15px;
	margin-bottom: 0px;
}
.menu-informacion{
	padding-bottom: 10px;
	display: table;
	width: 210px;
}
.menu ul{
	float:left;
	padding:0px;
	margin:0px;
	width: 210px;
	list-style-type:none;
}
.menu li{
	padding:0px;
	margin:0px;
}
.menu li a{
	float:left;
	width:187px;
	text-decoration:none;
	background-image: url('../images/her-paginas/caja_lupa.png');
	text-align: left;
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-size: 12px;
	color: #464646;
	height: 24px;
/* 	padding-top: 7px; */
	padding-left: 23px;
}
.menu li a:hover{
	color: #16A8E2;
	font-weight: bold;
}
.login-superior{
	background-image: url('../images/her-pagina-principal/login-superior.png');
	width: 210px;
	height: 4px;
}
.login-superior-titulo{
/* 	background-image: url('../images/her-pagina-principal/login-superior-titulo.png'); */
	width: 210px;
	height: 30px;
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-size: 14px;
	font-weight: bold;
	color: black;
	padding-left: 10px;
/* 	padding-top: 9px; */
}
.login-inferior{
	background-image: url('../images/her-pagina-principal/login-inferior.png');
	width: 210px;
	height: 4px;
	margin-bottom: 14px;
}
.login{
	padding-bottom: 0px;
	display: table;
	background-repeat: no-repeat;
	width: 210px;
	background-color: #2D2D2D;
}
.login-texto{
	font-size: 11px;
	color: #A0A0A0;
	line-height: 13px;
}
.box-login{
	padding-top: 0px;
	padding-left: 0px;
}

.acceso-cursos {
	width: 210px;
	min-height: 50px;
	padding-top: 5px;
	margin-bottom: 10px;
}
#acceso-cursos-link {
	background-image: url('../images/her-pagina-principal/web_hermes_boton_cursos.png');	
	width: 210px;
	min-height: 50px;
	display: block;
}
#acceso-cursos-link:hover {
	background-image: url('../images/her-pagina-principal/web_hermes_boton_cursos_rolover.png');	
	width: 210px;
	min-height: 50px;
	display: block;
}

.acceso-alumnos {
	width: 210px;
	min-height: 50px;
	padding-top: 5px;
	margin-bottom: 10px;
}
#acceso-alumnos-link {
	background-image: url('../images/her-pagina-principal/web_hermes_boton_alumnos.png');	
	width: 210px;
	min-height: 50px;
	display: block;
}
#acceso-alumnos-link:hover {
	background-image: url('../images/her-pagina-principal/web_hermes_boton_alumnos_rolover.png');	
	width: 210px;
	min-height: 50px;
	display: block;
}

.acceso-codigo {
	width: 210px;
	min-height: 50px;
	padding-top: 5px;
	margin-bottom: 10px;
}
#acceso-codigo-link {
	background-image: url('../images/her-pagina-principal/web_hermes_boton_codigo.png');	
	width: 210px;
	min-height: 50px;
	display: block;
}
#acceso-codigo-link:hover {
	background-image: url('../images/her-pagina-principal/web_hermes_boton_codigo_rolover.png');	
	width: 210px;
	min-height: 50px;
	display: block;
}

.acceso-investigacion {
	width: 210px;
	min-height: 50px;
	padding-top: 5px;
	margin-bottom: 10px;
}
#acceso-investigacion-link {
	background-image: url('../images/her-pagina-principal/web_hermes_boton_investigacion.png');	
	width: 210px;
	min-height: 50px;
	display: block;
}
#acceso-investigacion-link:hover {
	background-image: url('../images/her-pagina-principal/web_hermes_boton_investigacion_rolover.png');	
	width: 210px;
	min-height: 50px;
	display: block;
}
.acceso-extension {
	width: 210px;
	min-height: 50px;
	padding-top: 5px;
	margin-bottom: 10px;
}
#acceso-extension-link {
	background-image: url('../images/her-pagina-principal/web_hermes_boton_extension.png');	
	width: 210px;
	min-height: 50px;
	display: block;
}
#acceso-extension-link:hover {
	background-image: url('../images/her-pagina-principal/web_hermes_boton_extension_rolover.png');	
	width: 210px;
	min-height: 50px;
	display: block;
}
.acceso-laboratorios {
	width: 210px;
	min-height: 50px;
	padding-top: 5px;
	margin-bottom: 10px;
}
#acceso-laboratorios-link {
	background-image: url('../images/her-pagina-principal/web_hermes_boton_laboratorios.png');	
	width: 210px;
	min-height: 50px;
	display: block;
}
#acceso-laboratorios-link:hover {
	background-image: url('../images/her-pagina-principal/web_hermes_boton_laboratorios_rolover.png');	
	width: 210px;
	min-height: 50px;
	display: block;
}
.masInformacionDiv{
	width: 185px;
}
.campo-login{
	border: none;
	background-image:url('../images/her-pagina-principal/texto-usuario.png');
	background-color: #E6E6E6;
/* 	font-family: Arial, Helvetica, sans-serif; */
	font-size: 11px;
	margin: 0px;
	padding: 0px;
	height: 20px;
	width: 106px;
	padding-left: 5px;
}
.campo-contrasena{
	border: none;
	background-color: #E6E6E6;
/* 	font-family: Arial, Helvetica, sans-serif; */
	font-size: 11px;
	margin: 0px;
	padding: 0px;
	height: 20px;
	width: 84px;
	padding-left: 5px;
}
.boton-entrar{
	width: 76px;
	margin: 0px;
	padding: 0px;
	height: 20px;
	border: none;
	background-color: #2D2D2D;
	background-image:url('../images/her-pagina-principal/boton_entrar.png');
	margin: auto;
}
.boton-entrar:hover{
	background-image:url('../images/her-pagina-principal/boton_entrar_hover.png');
}
.cabezote-derecho-menu-recursos{
	background-image: url('../images/her-pagina-principal/cabezote-contenido-recursos.png');
	height: 22px;
	/*font-family: Arial, Helvetica, sans-serif;*/
	color:#FFFFFF;
	font-weight: bold;
	font-size: 12px;
	padding-top: 8px;
	padding-left: 15px;
	margin-bottom: 0px;
}
.menu-recursos ul{
	float:left;
	padding:0px;
	margin:0px;
	width: 210px;
	list-style-type:none;
}
.menu-recursos li{
	padding:0px;
	margin:0px;
}
.menu-recursos li a{
	float:left;
	width:187px;
	text-decoration:none;
	background-image: url('../images/her-pagina-principal/caja_lupa_recursos.png');
	text-align: left;
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-size: 12px;
	color: #464646;
	height: 24px;
	padding-top: 7px;
	padding-left: 23px;
}
.menu-recursos li a:hover{
	font-weight: bold;
}

.menu-convocatorias ul{
	float:left;
	padding:0px;
	margin:0px;
	width: 210px;
	list-style-type:none;
}
.menu-convocatorias li{
	padding:0px;
	margin:0px;
}
.menu-convocatorias li a{
	float:left;
	width:200px;
	text-decoration:none;
	background-image: url('../images/her-paginas/cabezote_derecho_principal.png');
	text-align: left;
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-size: 12px;
	color: #F0F0F0;
	height: 22px;
	padding-top: 8px;
	padding-left: 10px;
	font-weight: bold;
}
.menu-convocatorias li a:hover{
	background-image: url('../images/her-paginas/cabezote_derecho_principal_hover.png');
}
.titulo-convocatoria{
	padding-top: 20px;
	font-size: 12px;
	line-height: 16px;
	color: #646464;
}
.titulo-convocatoria a{
	font-weight: bold;
	color: #646464;
}
.contenido-titulo-pagina-principal-noticias{
	width: 675px;
	background-color: #FFFFFF;
	background-image: url('../images/her-pagina-principal/titulo_cabezote_noticias.png');
	height: 44px;
	background-repeat:no-repeat;
	margin-top: 28px;
	border-bottom: 2px solid #787878; 
	margin-bottom: 21px;
}
#twitter-timeline{
	width: 675px;
}


/*
*  Estilo para el footer
*/


#footer-contenedor{
	width: 970px;
	margin: 15px auto 15px auto;
}
#footer{
	background-image:url('../images/her-footer/footer.png');
	margin: auto 10px auto 10px;
	height: 73px;
}
#footer-top{
	height: 23px;
	padding-left: 45px;
	padding-top: 7px;
}
#footer-top a{
	text-decoration: none;
	/*font-family: Arial, Helvetica, sans-serif;*/
	color: #464646;
	font-weight: bold;
	font-size: 12px;
}
#footer-bottom{
	height: 43px;
}
#footer-bottom-left{
	float: left;
	height: 25px;
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-size: 11px;
	color: #646464;
	padding-left: 30px;
	padding-top: 14px;
	font-weight: bold;
}
#footer-bottom-left a{
	text-decoration: none;
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-size: 11px;
	color: #646464;
	font-weight: normal;
}
#footer-bottom-left a:hover{
	text-decoration: underline;
}
#footer-bottom-right{
	float: right;
	height: 25px;
	width: 149px;
	/*font-family: Arial, Helvetica, sans-serif;*/
	color: #646464;
	font-size: 11px;
	font-weight: bold;
}