<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!-- Configuracion del hibernate -->
	<bean id="myDataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName">
<!-- 			<value>java:comp/env/jdbc/myoracleAWS</value> -->
<!--  			<value>java:comp/env/jdbc/myoraclePruebas</value> -->
			<value>java:comp/env/jdbc/myoracleProduccion</value>
		</property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">

		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.Oracle9Dialect</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.hibernate.max_fetch_depth">0</prop>
				<prop key="hibernate.query.substitutions">true 1, false 0</prop>
				<prop key="hibernate.connection.characterEncoding">ISO-8859-1</prop>
			</props>
		</property>

		<property name="dataSource">
			<ref bean="myDataSource" />
		</property>

		<property name="mappingDirectoryLocations">
			<list>
				<value>classpath:/co/edu/unal/hermes/modelo</value>
			</list>
		</property>
	</bean>
	
	<bean id="alertaProyectoDAO"
		class="co.edu.unal.hermes.bd.imp.AlertaProyectoDAOHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="financiacionDAO"
		class="co.edu.unal.hermes.bd.imp.FinanciacionDAOHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="tipoSolicitudDAO"
		class="co.edu.unal.hermes.bd.imp.TipoSolicitudDAOHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="tipoViaSolicitudDAO"
		class="co.edu.unal.hermes.bd.imp.TipoViaSolicitudDAOHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="proyectoDAO" class="co.edu.unal.hermes.bd.imp.ProyectoDAOHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="grupoDAO" class="co.edu.unal.hermes.bd.imp.GrupoDAOHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="personaDAO" class="co.edu.unal.hermes.bd.imp.PersonaDAOHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="lineaDAO" class="co.edu.unal.hermes.bd.imp.LineaDAOHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="modalidadDAO" class="co.edu.unal.hermes.bd.imp.ModalidadDAOHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="generalDAO" class="co.edu.unal.hermes.bd.imp.GeneralDAOHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="palabraClaveDAO" class="co.edu.unal.hermes.bd.imp.PalabraClaveDAOHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="correoDAO" class="co.edu.unal.hermes.bd.imp.CorreoDAOHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="evaluacionDAO" class="co.edu.unal.hermes.bd.imp.EvaluacionDAOHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="dependenciaDAO" class="co.edu.unal.hermes.bd.imp.DependenciaDAOHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="movilidadDAO" class="co.edu.unal.hermes.bd.imp.MovilidadDAOHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="propiedadIntelectualDAO" class="co.edu.unal.hermes.bd.imp.PropiedadIntelectualDAOHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="biodiversidadDAO" class="co.edu.unal.hermes.bd.imp.BiodiversidadDAOHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="avalDAO" class="co.edu.unal.hermes.bd.imp.AvalDAOHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="servicioProyecto"
		class="co.edu.unal.hermes.modelo.servicioProyecto.ServicioProyecto">
		<property name="proyectoDAO">
			<ref bean="proyectoDAO" />
		</property>
		<property name="palabraClaveDAO">
			<ref bean="palabraClaveDAO" />
		</property>
		<property name="generalDAO">
			<ref bean="generalDAO" />
		</property>
	</bean>
	<bean id="servicioGrupo" 
		class="co.edu.unal.hermes.modelo.servicios.imp.ServicioGrupo">
		<property name="grupoDAO">
			<ref bean="grupoDAO" />
		</property>
	</bean>
	<bean id="servicioFinanciacion" 
		class="co.edu.unal.hermes.modelo.servicios.imp.ServicioFinanciacion">
		<property name="financiacionDAO">
			<ref bean="financiacionDAO" />
		</property>
	</bean>
	<bean id="servicioPersona"
		class="co.edu.unal.hermes.modelo.servicioPersona.ServicioPersona">
		<property name="personaDAO">
			<ref bean="personaDAO" />
		</property>
		<property name="generalDAO">
			<ref bean="generalDAO" />
		</property>
		<property name="dependenciaDAO">
			<ref bean="dependenciaDAO" />
		</property>
	</bean>
	<bean id="servicioModalidad"
		class="co.edu.unal.hermes.modelo.servicioModalidad.ServicioModalidad">
		<property name="modalidadDAO">
			<ref bean="modalidadDAO" />
		</property>
		<property name="proyectoDAO">
			<ref bean="proyectoDAO" />
		</property>
	</bean>
	<bean id="servicioLineaInvestigacion"
		class="co.edu.unal.hermes.modelo.servicios.imp.ServicioLineaInvestigacion">
		<property name="lineaDAO">
			<ref bean="lineaDAO" />
		</property>
	</bean>
	<bean id="servicioGeneral"
		class="co.edu.unal.hermes.modelo.servicioGeneral.ServicioGeneral">
		<property name="generalDAO">
			<ref bean="generalDAO" />
		</property>
	</bean>
	<bean id="servicioCorreo" class="co.edu.unal.hermes.modelo.servicios.imp.ServicioCorreo">
		<property name="correoDAO">
			<ref bean="correoDAO" />
		</property>
		<property name="generalDAO">
			<ref bean="generalDAO" />
		</property>
	</bean>
	<bean id="servicioEvaluacion" class="co.edu.unal.hermes.modelo.servicios.imp.ServicioEvaluacion">
		<property name="evaluacionDAO">
			<ref bean="evaluacionDAO" />
		</property>
		<property name="generalDAO">
			<ref bean="generalDAO" />
		</property>
	</bean>
	<bean id="servicioPropiedadIntelectual"
		class="co.edu.unal.hermes.modelo.servicios.imp.ServicioPropiedadIntelectual">
		<property name="propiedadIntelectualDAO">
			<ref bean="propiedadIntelectualDAO" />
		</property>
	</bean>
	<bean id="servicioSolicitudes"
		class="co.edu.unal.hermes.modelo.servicios.imp.ServicioSolicitudes">
		<property name="tipoSolicitudDao">
			<ref bean="tipoSolicitudDAO" />
		</property>
		<property name="tipoViaSolicitudDao">
			<ref bean="tipoViaSolicitudDAO" />
		</property>
		<property name="generalDao">
			<ref bean="generalDAO" />
		</property>
		<property name="proyectoDao">
			<ref bean="proyectoDAO" />
		</property>
	</bean>
	<bean id="servicioAlertas"
		class="co.edu.unal.hermes.modelo.servicios.imp.ServicioAlertas">
		<property name="alertaProyectoDao">
			<ref bean="alertaProyectoDAO" />
		</property>
	</bean>
	<bean id="servicioDependencia"
		class="co.edu.unal.hermes.modelo.servicioDependencia.ServicioDependencia">
		<property name="dependenciaDAO">
			<ref bean="dependenciaDAO" />
		</property>
	</bean>
	<bean id="servicioMovilidad"
		class="co.edu.unal.hermes.modelo.servicioMovilidad.ServicioMovilidad">
		<property name="dependenciaDAO">
			<ref bean="dependenciaDAO" />
		</property>
		<property name="movilidadDAO">
			<ref bean="movilidadDAO" />
		</property>
	</bean>
	<bean id="servicioBiodiversidad"
		class="co.edu.unal.hermes.modelo.servicios.imp.ServicioBiodiversidad">
		<property name="biodiversidadDAO">
			<ref bean="biodiversidadDAO" />
		</property>
		<property name="personaDAO">
			<ref bean="personaDAO" />
		</property>
	</bean>
	<bean id="servicioAval"
		class="co.edu.unal.hermes.modelo.servicios.imp.ServicioAval">
		<property name="avalDAO">
			<ref bean="avalDAO" />
		</property>
		<property name="personaDAO">
			<ref bean="personaDAO" />
		</property>
	</bean>
	
<!-- 	TimerTask -->
	
<!-- 	<bean id="TimerTask" class="co.edu.unal.hermes.modelo.alertasAutomaticas.TimerTask"> -->
<!-- 		<property name="sessionFactory"> -->
<!-- 			<ref bean="sessionFactory" /> -->
<!-- 		</property> -->
<!-- 	</bean> -->
 
<!--     <bean id="timerTaskFactoryBean" class="org.springframework.scheduling.timer.MethodInvokingTimerTaskFactoryBean"> -->
<!--         <property name="targetObject" ref="TimerTask"></property> -->
<!--         <property name="targetMethod" value="execute"></property> -->
<!--     </bean> -->
 
<!--     <bean id="scheduledTimerTask" class="org.springframework.scheduling.timer.ScheduledTimerTask"> -->
<!--         <property name="timerTask" ref="timerTaskFactoryBean"></property> -->
<!-- 		<property name="period" value="86400000" /> -->
<!--         <property name="delay" value="3600000" /> -->
<!--     </bean> -->
 
<!--     <bean class="org.springframework.scheduling.timer.TimerFactoryBean"> -->
<!--         <property name="scheduledTimerTasks"> -->
<!--             <list> -->
<!--                 <ref local="scheduledTimerTask"></ref> -->
<!--             </list> -->
<!--         </property> -->
<!--     </bean> -->
    
<!--     TimerTask avales -->
    
<!--     <bean id="avalesTimerTask" class="co.edu.unal.hermes.modelo.alertasAutomaticas.TimerTaskSoporteAvales"> -->
<!--     	<property name="sessionFactory"> -->
<!-- 			<ref bean="sessionFactory" /> -->
<!-- 		</property> -->
<!--     </bean> -->
 
<!--     <bean id="timerTaskFactoryBeanAvales"  -->
<!--             class="org.springframework.scheduling.timer.MethodInvokingTimerTaskFactoryBean"> -->
<!--         <property name="targetObject" ref="avalesTimerTask"></property> -->
<!--         <property name="targetMethod" value="execute"></property> -->
<!--     </bean> -->
 
<!--     <bean id="scheduledTimerTaskAvales" class="org.springframework.scheduling.timer.ScheduledTimerTask"> -->
<!--         <property name="timerTask" ref="timerTaskFactoryBeanAvales"></property> -->
<!--         <property name="period" value="86400000"></property> -->
<!--         <property name="delay" value="60000"></property> -->
<!--     </bean> -->
 
<!--     <bean class="org.springframework.scheduling.timer.TimerFactoryBean"> -->
<!--         <property name="scheduledTimerTasks"> -->
<!--             <list> -->
<!--                 <ref local="scheduledTimerTaskAvales"></ref> -->
<!--             </list> -->
<!--         </property> -->
<!--     </bean> -->
   
<!--    TimerTask proyecto Convenio -->
    
<!--     <bean id="proyectoConvenioTimerTask" class="co.edu.unal.hermes.modelo.alertasAutomaticas.TimerTaskProyectoConvenios"> -->
<!--     	<property name="sessionFactory"> -->
<!-- 			<ref bean="sessionFactory" /> -->
<!-- 		</property> -->
<!--     </bean> -->
 
<!--     <bean id="timerTaskFactoryBeanProyectoConvenio"  -->
<!--             class="org.springframework.scheduling.timer.MethodInvokingTimerTaskFactoryBean"> -->
<!--         <property name="targetObject" ref="proyectoConvenioTimerTask"></property> -->
<!--         <property name="targetMethod" value="execute"></property> -->
<!--     </bean> -->
 
<!--     <bean id="scheduledTimerTaskProyectoConvenio" class="org.springframework.scheduling.timer.ScheduledTimerTask"> -->
<!--         <property name="timerTask" ref="timerTaskFactoryBeanProyectoConvenio"></property> -->
<!--         <property name="period" value="86400000"></property> -->
<!--         <property name="delay" value="2400000"></property> -->
<!--     </bean> -->
    
<!--     <bean class="org.springframework.scheduling.timer.TimerFactoryBean"> -->
<!--         <property name="scheduledTimerTasks"> -->
<!--             <list> -->
<!--                 <ref local="scheduledTimerTaskProyectoConvenio"></ref> -->
<!--             </list> -->
<!--         </property> -->
<!--     </bean> -->
    
<!--        TimerTask proyectos -->
    
<!--     <bean id="proyectosTimerTask" class="co.edu.unal.hermes.modelo.alertasAutomaticas.TimerTaskProyectos"> -->
<!--     	<property name="sessionFactory"> -->
<!-- 			<ref bean="sessionFactory" /> -->
<!-- 		</property> -->
<!--     </bean> -->
 
<!--     <bean id="timerTaskFactoryBeanProyectos"  -->
<!--             class="org.springframework.scheduling.timer.MethodInvokingTimerTaskFactoryBean"> -->
<!--         <property name="targetObject" ref="proyectosTimerTask"></property> -->
<!--         <property name="targetMethod" value="execute"></property> -->
<!--     </bean> -->
 
<!--     <bean id="scheduledTimerTaskProyectos" class="org.springframework.scheduling.timer.ScheduledTimerTask"> -->
<!--         <property name="timerTask" ref="timerTaskFactoryBeanProyectos"></property> -->
<!--         <property name="period" value="86400000"></property> -->
<!--         <property name="delay" value="4800000"></property> -->
<!--     </bean> -->
    
<!--     <bean class="org.springframework.scheduling.timer.TimerFactoryBean"> -->
<!--         <property name="scheduledTimerTasks"> -->
<!--             <list> -->
<!--                 <ref local="scheduledTimerTaskProyectos"></ref> -->
<!--             </list> -->
<!--         </property> -->
<!--     </bean> -->
	
</beans>
