<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="2.5" xmlns="https://java.sun.com/xml/ns/javaee"
	xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="https://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <display-name>HERMES</display-name>

    <context-param>
        <param-name>org.apache.myfaces.CHECK_ID_PRODUCTION_MODE</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
	    <param-name>facelets.SKIP_COMMENTS</param-name>
	    <param-value>true</param-value>
	</context-param>
	<context-param>
	    <param-name>hibernate.connection.timeout</param-name>
	    <param-value>60</param-value>
	</context-param>
	

<filter>
	<filter-name>PrimeFaces FileUpload Filter</filter-name>
	<filter-class>
		org.primefaces.webapp.filter.FileUploadFilter
	</filter-class>
	</filter>
<filter-mapping>
	<filter-name>PrimeFaces FileUpload Filter</filter-name>
	<servlet-name>Faces Servlet</servlet-name>
</filter-mapping>
 <listener>
  <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class> 
  </listener>
 
 <listener>
  <listener-class>
                com.sun.xml.ws.transport.http.servlet.WSServletContextListener
        </listener-class>
  </listener>
 <context-param>
  <param-name>contextConfigLocation</param-name> 
  <param-value>/WEB-INF/applicationContext.xml</param-value> 
  </context-param>
 <context-param>
  <param-name>javax.faces.DEFAULT_SUFFIX</param-name> 
  <param-value>.xhtml</param-value> 
  </context-param>
  <context-param>
    <param-name>javax.faces.FACELETS_BUFFER_SIZE</param-name>
    <param-value>131072</param-value>    
</context-param>
<context-param>
		<param-name>javax.faces.FACELET_SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param>
 <servlet>
  <servlet-name>ReporteEngServlet</servlet-name> 
  <servlet-class>co.edu.unal.hermes.vista.reportes.ReporteEngineServlet</servlet-class> 
  </servlet>
 <servlet-mapping>
  <servlet-name>ReporteEngServlet</servlet-name> 
  <url-pattern>/ReporteEngServlet</url-pattern> 
  </servlet-mapping>
 <servlet>
  <servlet-name>Faces Servlet</servlet-name> 
  <servlet-class>javax.faces.webapp.FacesServlet</servlet-class> 
  </servlet>
 <servlet>
  <description /> 
  <display-name>ReporteEngineServlet</display-name> 
  <servlet-name>ReporteEngineServlet</servlet-name> 
  <servlet-class>co.edu.unal.hermes.vista.reportes.ReporteEngineServlet</servlet-class> 
  </servlet>
 <servlet-mapping>
  <servlet-name>Faces Servlet</servlet-name> 
  <url-pattern>*.faces</url-pattern> 
  </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Faces Servlet</servlet-name> 
  <url-pattern>*.jsf</url-pattern> 
  </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Faces Servlet</servlet-name> 
  <url-pattern>*.xhtml</url-pattern> 
  </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Faces Servlet</servlet-name> 
  <url-pattern>/faces/*</url-pattern> 
  </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ReporteEngineServlet</servlet-name> 
  <url-pattern>/ReporteEngineServlet</url-pattern> 
  </servlet-mapping>
 <context-param>
  <param-name>facelets.BUILD_BEFORE_RESTORE</param-name> 
  <param-value>true</param-value> 
  </context-param>
 <welcome-file-list>
  <welcome-file>pages/principal/Principal.xhtml</welcome-file> 
  </welcome-file-list>
  <session-config>
  <session-timeout>20</session-timeout>
 </session-config>
 <context-param>
  <param-name>primefaces.THEME</param-name> 
  <param-value>redmond</param-value> 
  </context-param>
 <error-page>
  <error-code>404</error-code> 
  <location>/pages/html/error404.xhtml</location> 
  </error-page>
   <error-page>
  <error-code>500</error-code> 
  <location>/pages/html/ErrorDefecto.xhtml</location> 
  </error-page>
  <error-page>
<exception-type>javax.faces.application.ViewExpiredException
</exception-type>
<location>/pages/principal/Principal.xhtml</location>
</error-page>

<context-param>
<param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
<param-value>true</param-value>
</context-param>


 <servlet>
        <servlet-name>proyecto</servlet-name>
        <servlet-class>
        	com.sun.xml.ws.transport.http.servlet.WSServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>proyecto</servlet-name>
        <url-pattern>/proyecto</url-pattern>
    </servlet-mapping>

  </web-app>
