/************************************************************
Este archivo es una de las hojas de estilos de la plantilla
de los sitios web del Sistema de Investigación y Extensión
de la Universidad Nacional de Colombia.

En esta hoja de estilos se realizan sobreescriben algunos
estilos.
*************************************************************/

/************************************************************
Lista de archivos
*************************************************************/

.bloque .csc-uploads {
	margin-left: 0px !important;
	list-style: disc;
}

.bloque .csc-uploads li {
	display: flex;
	justify-content: space-between;
	margin: 0px;
	line-height: 36px;
	border-bottom: 1px solid #dedede;
}

.bloque .csc-uploads li span {
	text-decoration: none;
}

/************************************************************
Acordeón
*************************************************************/

.panel {
	box-shadow: none !important;
}

.panel-default {
	border: none !important;
}

.panel-heading {
	margin: 0px !important;
	padding: 0px !important;
	background: none !important;
	border: none !important;
}

.panel-title {
	margin: 0px !important;
	padding: 0px 15px !important;
	line-height: 30px !important;
    font-size: 14pt !important;
	color: #22a5de !important;
	border-bottom: 1px dotted #ccc !important;
}

.panel-body {
	background: none !important;
	border: none !important;
}

/************************************************************
News
*************************************************************/

.news .footer, .news-single .footer {
	border: none !important;
	margin: 1.5em 0px 0px !important;
	padding: 0px !important;
}

.article .facebook {
	display: flex !important;
	justify-content: space-between !important;
	display: -webkit-flex !important;
	-webkit-justify-content: space-between !important;
	margin: 15px 0px 0px !important;
}

.article .facebook  .like .fb_iframe_widget span {
	width: auto !important;
}

.news-single .article .news-img-wrap, .news .article .news-img-wrap {
	width: 100% !important;
	float: none !important;
	margin: 0px !important;
}

.news-single .article .news-img-wrap img {
	width: 100% !important;
	height: auto !important;
}

.news .article .news-img-wrap a {
	float: none !important;
	margin-bottom: 10px !important;
	padding: 0px !important;
	border: none !important;
}

@media screen and (max-width: 768px) {
	.article .facebook {
		display: block !important;
	}
	.article .facebook .like, .article .facebook .share, .article .facebook .twitter {
		margin: 5px 0px !important;
	}
}

/************************************************************
Buscador
*************************************************************/

.bloque #mailform {
  width: 100%;
  display: flex;
  justify-content: center;
}

.csc-mailform-field label, .csc-mailform-field #mailformscols, .csc-searchform {
  display: none;
}

.csc-mailform-field #mailformsword {
  min-width: 400px;
  width: 100%;
  height: 30px;
  padding: 0px 8px;
  background: #fff;
  color: #646464;
  border: 1px solid #999;
}

.csc-mailform-field #mailformsubmit {
  height: 30px;
  background-color: #2B4B63;
  color: #FFF;
  border: medium none;
}

/************************************************************
Formulario
*************************************************************/

.csc-mailform label em {
	display: none;
}