/************************************************************
Este archivo es una de las hojas de estilos de la plantilla
de los sitios web del Sistema de Investigación y Extensión
de la Universidad Nacional de Colombia.

En esta hoja de estilos se define el ajuste para dispositivos
móviles de los elementos de la plantilla de los sitios web.
*************************************************************/

/* Ajuste para ancho de pantalla mayor a 990px */

@media screen and (min-width: 991px) {
	.contenidoPrincipal {
		min-height: 345px;
	}
}

/* Ajuste para ancho de pantalla menor a 1062px */

@media screen and (max-width: 1062px) {
	.medios .slider {
		display: none;
	}
}

/* Ajuste para ancho de pantalla menor a 885px */

@media screen and (max-width: 885px) {
	.medios {
		right: 20px;
	}
}

/* Ajuste para ancho de pantalla menor a 990px */

@media screen and (max-width: 990px) {
	/* Barra */
	.logobarra {
		margin-left: 20px;
	}
	/* Buscador unificado */
	.logoBuscador, #menuBuscador {
		width: 400px;
	}
	.logoBuscador .buscador .campo {
		width: 310px;
	}
	.buscadorUnificado {
		width: 100%;
	}
	.buscadorUnificado span {
		margin-right: 40px;
	}
	/* Ancho general */
	.ajuste {
		width: 100%;
		min-width: 320px;
		margin: 0px auto;
	}
	.contenidoPrincipal .ajuste {
		display: block;
	}
	.principal {
		width: 100%;
		padding: 0px 20px;
		display: block;
	}
	/*Paneles página inicial*/
	.paneles {
		display: block;
	}
	.izq, .der {
		width: 100%;
		margin-bottom: 20px;
	}
	/* Columna lateral */
	.columna {
		width: 100%;
		min-width: 320px;
		margin: 0px auto;
		padding: 0px 20px;
	}
	.columna > a:last-child {
		display: none;
	}
	.isla{
		margin-bottom: 20px;
	}
}

/* Ajuste para ancho de pantalla menor a 790px */

@media screen and (max-width: 790px) {
	.barra {
		height: 60px;
	}
	.barra .buscadorUnificado {
		margin: 17px 0px;
	}
	.barra .logobarra img {
		margin: 6px 0px;
	}
	.logoBuscador {
		height: 26px;
	}
	.logoBuscador .buscador .campo {
		width: 350px;
	}
	.barra .buscadorUnificado span {
		padding: 0;
		line-height: 13px;
		font-size: 8pt;
	}
	.barra .logoBuscador .buscador .flecha {
		width: 20px;
		height: 20px;
		background: url(../../Images/iconos/buscador/flecha-peque.png) no-repeat right center transparent;
	}
	.barra .logoBuscador .buscador .campo {
		height: 20px;
		font-size: 10pt;
		line-height: 20px;
	}
	.barra .logoBuscador .buscador .boton {
		width: 20px;
		height: 20px;
		background: url(../../Images/iconos/buscador/lupa-peque.png) no-repeat right center transparent;
	}
	#menuBuscador {
		top: 43px;
	}
}

/* Ajuste para ancho de pantalla menor a 768px */

@media screen and (max-width: 768px) {
	/* Plantilla unal */
	.languageMenu {
		margin: 12px 40px 0 0 !important;
	}
	.socialLinks {
		margin: 12px 0 0 0 !important;
	}
	/* Barra */
	.logobarra {
		display: none;
	}
	.logobarra-movil {
		display: block;
		margin-left: 20px;
	}
	.logoBuscador, #menuBuscador {
		width: 310px;
	}
	.logoBuscador .buscador .campo {
		width: 260px;
	}
	.buscadorUnificado span {
		margin: 0;
	}
	/**/
	.pie {
		flex-direction: column;
	}
	.sesquicentenario {
		margin: 0 auto;
	}
	/* Tablas */
	table thead {
		display: none;
	}
	table tbody td {
		display: block;
		padding: 5px 20px;
	}
	table tbody tr:first-child {
		border-top: none;
	}
	table tbody td:before {
		display: inline-block;
		content: attr(data-th) "\00a0";
		font-weight: bold;
	}
}

/* Ajuste para ancho de pantalla menor a 648px */

@media screen and (max-width: 648px) {
	.medios {
		display: none;
	}
}

/* Ajuste para ancho de pantalla menor a 600px */

@media screen and (max-width: 600px) {
	.buscadorUnificado .logoBuscador {
		display:none;
	}
}

@media screen and (max-width: 481px) {
	/* Plantilla unal */
	.languageMenu {
		margin-right: 0 !important;
	}
}

@media screen and (max-width: 360px) {
	/* Plantilla unal */
	.socialLinks {
		display: none  !important;
	}
}