/************************************************************
Este archivo es una de las hojas de estilos de la plantilla
de los sitios web del Sistema de Investigación y Extensión
de la Universidad Nacional de Colombia.

En esta hoja de estilos se complementan la disposición, las
dimensiones y las propiedades generales de los elementos de
la plantilla de los sitios web tipo scroll y se importan las
hojas de estilo individuales.
*************************************************************/

/************************************************************
La región de la clase 'barra' contiene el logotipo del sitio
web y el menú de navegación por secciones.
*************************************************************/

.barra label {
	display: none;
}

/* Menú de secciones */

.menu-scroll {
	width: 670px;
}

.menu-responsive {
	width: 100%;
}

.menu-responsive ul {
	width: 100%;
	margin: 0px;
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	display: -webkit-flex;
	-webkit-justify-content: space-around;
}

.menu-responsive ul li {
	font-size: 14pt;
	line-height: 100px;
}

.menu-responsive ul li a {
	position: relative;
	display: inline-block;
	outline: none;
}

.menu-responsive ul li a::after {
	position: absolute;
	top: 90%;
	left: 0;
	width: 100%;
	height: 10px;
	content: '';
	opacity: 0;
	transition: opacity 0.3s, transform 0.3s;
	transform: translateX(50px);
}

.menu-responsive ul li a:hover::after, .menu-responsive ul li a:focus::after {
	opacity: 1;
	transform: translateY(0px);
}

.menu-responsive ul li a, .menu-responsive ul li a:link, .menu-responsive ul li a:visited, .menu-responsive ul li a:hover, .menu-responsive ul li a:active {
	color: #f7f7f7;
}

/************************************************************
La región de la clase 'cuerpo' alberga el contenido principal
de los sitios web tipo scroll.
*************************************************************/

.cuerpo-scroll {
	width: 100%;
	position: relative;
}

/************************************************************
La clase 'ancla' es un pseudo elemento que desplaza el
contenido cuando la clase 'barra-fija' está activa.
*************************************************************/

/* .ancla {
	display: block;
	height: 100px;
	margin-top: -100px;
	visibility: hidden;
} */

/************************************************************
La región de la clase 'bloque-scroll' define una entrada de
contenido en la sección 'principal' de la página.
*************************************************************/

.banner, .bannerEventos {
	background-color: #fff;
}

/************************************************************
La región de la clase 'ajuste-scroll' limita el ancho de la
página de los sitios web tipo scroll.
*************************************************************/

.ajuste-scroll {
	width: 950px;
	margin: 0px auto;
	padding: 0px 40px;
	position: relative;
	color: #4c4c4c;
	font-size: 12pt;
	line-height: 30px;
}

/************************************************************
La región de la clase 'contenedor-scroll' define las
propiedades del contenido de los sitios web tipo scroll.
*************************************************************/

/*EVENTOS*/
.menuEventos {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 15;
}

.menuEventos ul {
	display: flex;
	justify-content: flex-end;
	display: -webkit-flex;
    -webkit-justify-content: flex-end;
	margin: 45px;
	background: #5a5a5a;
	opacity: 0.8;
	border-radius: 4px;
}

.menuEventos ul li {
	margin: 8px;
	padding: 4px 10px;
	color: #fff;
}

.menuEventos ul li:hover {
	text-transform: bold;
}

.menuEventos ul li:last-of-type {
	background: #2a2a2a;
	border-radius: 4px;
}

.menuEventos ul li a, .menuEventos ul li a:link, .menuEventos ul li a:visited, .menuEventos ul li a:active {
	line-height: 24px;
	font-size: 14pt;
	color: #fff;
	text-decoration: none;
}

.menuEventos ul li a:hover {
	font-weight: bold;
}

.galeriaEventos {
	position: relative;
	overflow: hidden;
}

.encabezadoEventos {
	width: 100%;
	margin: 0px;
	padding: 0px 40px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 20;
	color: #fff;
	text-align: center;
	background: #5a5a5a;
	opacity: 0.8;
}

.encabezadoEventos h1 {
	font-family: "Ancizar sans";
	font-weight: bold;
	font-size: 2em;
	line-height: 36px;
}

.encabezadoEventos h2 {
	font-family: "Ancizar sans";
	font-weight: bold;
	font-size: 1.5em;
	line-height: 32px;
}

@media screen and (max-width: 400px) {
	.encabezadoEventos h1, .encabezadoEventos h2 {
		font-size: 1em;
		line-height: 20px;
	}
}

/* .bannerEventos .col-sm-3:first-of-type p:last-of-type {
	display: flex;
}

.bannerEventos .row {
	display: flex;
	align-items: center;
} */

/*EVENTOS*/

/**/

.bannerEventos .ajuste-scroll {
	display: flex;
	justify-content: space-around;
}
.bannerEventos .nubeEmergente .imgs a:hover {
	opacity: 0.8
}

.nubeEmergente {
	cursor: pointer;
}
.nubeEmergente .imgs {
	width: 616px;
	padding: 8px;
	padding-top: 30px;
	margin-left: -308px;
	margin-top: -8px;
	display: none;
	position: absolute;
	top: 100%;
	left: 50%;
	background: #555;
	color: #fff;
	border-radius: 4px;
	z-index: 30;
}

.nubeEmergente .imgs:before {
	content: "Cerrar \00a0 \00a0 X";
	position: absolute;
	top: 0;
	right: 12px;
}

.nubeEmergente .mostrar {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn {
	from {opacity: 0;} 
	to {opacity: 1;}
}
@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1 ;}
}
@media screen and (max-width: 768px) {
	.nubeEmergente .imgs {
		width: 416px;
		margin-left: -208px;
	}
}
@media screen and (max-width: 480px) {
	.nubeEmergente .imgs {
		width: 216px;
		margin-left: -108px;
	}
}

.externo .ajuste-scroll, .documentacion .ajuste-scroll {
	color: rgb(180,184,184);
}
.descripcion a, .descripcion a:link, .descripcion a:visited, .descripcion a:hover, .descripcion a:active {
	color: #0097ce;
	text-decoration: none;
}
/**/
/* PLANTILLA PENSAMIENTO*/
.descripcion p {
	margin: 1em 0;
}
/**/

.descripcion, .primario, .secundario, .imagenes, .externo, .documentacion, .creditos {
	padding: 60px 0px;
}

.descripcion .ajuste-scroll, .secundario .ajuste-scroll, .imagenes .ajuste-scroll {
	font-size: 14pt;
}

.banner .ajuste-scroll, .bannerEventos .ajuste-scroll {
	padding: 20px 0px;
}

.banner .row, .banner .col-sm-6 {
	padding: 0px;
}

.banner p, .bannerEventos p {
	margin: 0px;
	padding: 0px;
}

.imagenes {
	background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url('../../Images/backgrounds/mapa-colombia.jpg');
	background-position: center center;
	background-size: 110%;
}

.ajuste-scroll h2, h3 {
	font-family: "Ancizar sans";
	font-weight: bold;
}

.ajuste-scroll h2 {
	font-size: 20pt;
	padding-top: 40px;
}

.ajuste-scroll h3 {
	font-size: 18pt;
	padding-top: 40px;
}

.ajuste-scroll h4 {
	font-size: 16pt;
	padding-top: 30px;
}

.ajuste-scroll h5 {
	font-size: 14pt;
	padding-top: 20px;
}

.ajuste-scroll h2:first-of-type {
	padding: 0px;
}

.ajuste-scroll ul, .ajuste-scroll ol {
	margin: 0px auto;
	padding: 30px 30px 0px;
	text-align: left;
}

.ajuste-scroll ul li {
	list-style-type: disc;
}