/************************************************************
Este archivo es una de las hojas de estilos de la plantilla
de los sitios web del Sistema de Investigación y Extensión
de la Universidad Nacional de Colombia.

En esta hoja de estilos se define el ajuste para dispositivos
móviles de los elementos de la plantilla de los sitios web
tipo scroll.
*************************************************************/

/* Ajuste para ancho de pantalla menor a 768px */

@media screen and (max-width: 768px) {
	/* Menú de secciones */
	.menu-scroll {
		width: 60px;
	}
	.menu-scroll label {
		display: block;
		width: 60px;
		height: 100px;
		cursor: pointer;
	}
	.menu-responsive {
		display: none;
	}
	input:checked ~ .menu-responsive {
		display: block;
		width: 200px;
		position: absolute;
		right: 40px;
		margin-top: 6px;
	}
	input.oculto[type=checkbox] {
		position: absolute;
		left: -999em;
	}
	.menu-responsive ul {
		list-style-type: none;
		display: block;
		padding: 15px 0px;
		background-color: #000;
		border: none;
		border-radius: 4px;
		opacity: 0.9;
	}
	.menu-responsive ul li {
		width: 100%;
		padding: 0px;
		font-size: 14pt;
		line-height: 40px;
		text-align: center;
	}
	.ajuste-scroll img {
		max-width: 100%;
		height: auto;
	}
	.cuerpo-scroll object {
		width: 100%;
	}
}

/* Ajuste para ancho de pantalla menor a 990px */

@media screen and (max-width: 990px) {
	/* Ancho general */
	.ajuste-scroll {
		width: 100vw;
		min-width: 320px;
	}
}

/* Ajuste para ancho de pantalla entre 768px y 990px */

@media screen and (min-width: 768px) and (max-width: 990px) {
	/* Menú de secciones */
	.menu-scroll {
		width: 70%;
	}
}