/************************************************************
Este archivo es una de las hojas de estilos de la plantilla
de los sitios web del Sistema de Investigación y Extensión
de la Universidad Nacional de Colombia.

En esta hoja de estilos se definen los estilos tipográficos
usados en las clases 'bloque' e 'isla'.
*************************************************************/

@font-face {
	font-family:'Ancizar sans';
	font-weight:bold;
	font-style:italic;
	src:url("https://unal.edu.co/fileadmin/templates/fonts/ancizarsans_bold_italic-webfont.eot"),url("https://unal.edu.co/fileadmin/templates/fonts/ancizarsans_bold_italic-webfont.eot?#iefix") format('embedded-opentype'),url("https://unal.edu.co/fileadmin/templates/fonts/ancizarsans_bold_italic-webfont.woff") format('woff'),url("https://unal.edu.co/fileadmin/templates/fonts/ancizarsans_bold_italic-webfont.ttf") format('truetype'),url("https://unal.edu.co/fileadmin/templates/fonts/ancizarsans_bold_italic-webfont.svg#ancizar_sansbold_italic") format('svg');
}
@font-face {
	font-family:'Ancizar sans';
	font-weight:bold;
	font-style:normal;
	src:url("https://unal.edu.co/fileadmin/templates/fonts/ancizarsans_bold-webfont.eot"),url("https://unal.edu.co/fileadmin/templates/fonts/ancizarsans_bold-webfont.eot?#iefix") format('embedded-opentype'),url("https://unal.edu.co/fileadmin/templates/fonts/ancizarsans_bold-webfont.woff") format('woff'),url("https://unal.edu.co/fileadmin/templates/fonts/ancizarsans_bold-webfont.ttf") format('truetype'),url("https://unal.edu.co/fileadmin/templates/fonts/ancizarsans_bold-webfont.svg#ancizar_sansbold_italic") format('svg');
}
@font-face {
	font-family:'Ancizar sans';
	font-weight:normal;
	font-style:italic;
	src:url("https://unal.edu.co/fileadmin/templates/fonts/ancizarsans_italic-webfont.eot"),url("https://unal.edu.co/fileadmin/templates/fonts/ancizarsans_italic-webfont.eot?#iefix") format('embedded-opentype'),url("https://unal.edu.co/fileadmin/templates/fonts/ancizarsans_italic-webfont.woff") format('woff'),url("https://unal.edu.co/fileadmin/templates/fonts/ancizarsans_italic-webfont.ttf") format('truetype'),url("https://unal.edu.co/fileadmin/templates/fonts/ancizarsans_italic-webfont.svg#ancizar_sansbold_italic") format('svg');
}
@font-face {
	font-family:'Ancizar sans';
	font-weight:normal;
	font-style:normal;
	src:url("https://unal.edu.co/fileadmin/templates/fonts/ancizarsans_regular-webfont.eot"),url("https://unal.edu.co/fileadmin/templates/fonts/ancizarsans_regular-webfont.eot?#iefix") format('embedded-opentype'),url("https://unal.edu.co/fileadmin/templates/fonts/ancizarsans_regular-webfont.woff") format('woff'),url("https://unal.edu.co/fileadmin/templates/fonts/ancizarsans_regular-webfont.ttf") format('truetype'),url("https://unal.edu.co/fileadmin/templates/fonts/ancizarsans_regular-webfont.svg#ancizar_sansbold_italic") format('svg');
}
@font-face {
	font-family:'Ancizar serif';
	font-weight:bold;
	font-style:italic;
	src:url("https://unal.edu.co/fileadmin/templates/fonts/ancizarserif_bold_italic-webfont.eot"),url("https://unal.edu.co/fileadmin/templates/fonts/ancizarserif_bold_italic-webfont.eot?#iefix") format('embedded-opentype'),url("https://unal.edu.co/fileadmin/templates/fonts/ancizarserif_bold_italic-webfont.woff") format('woff'),url("https://unal.edu.co/fileadmin/templates/fonts/ancizarserif_bold_italic-webfont.ttf") format('truetype'),url("https://unal.edu.co/fileadmin/templates/fonts/ancizarserif_bold_italic-webfont.svg#ancizar_sansbold_italic") format('svg');
}
@font-face {
	font-family:'Ancizar serif';
	font-weight:bold;
	font-style:normal;
	src:url("https://unal.edu.co/fileadmin/templates/fonts/ancizarserif_bold-webfont.eot"),url("https://unal.edu.co/fileadmin/templates/fonts/ancizarserif_bold-webfont.eot?#iefix") format('embedded-opentype'),url("https://unal.edu.co/fileadmin/templates/fonts/ancizarserif_bold-webfont.woff") format('woff'),url("https://unal.edu.co/fileadmin/templates/fonts/ancizarserif_bold-webfont.ttf") format('truetype'),url("https://unal.edu.co/fileadmin/templates/fonts/ancizarserif_bold-webfont.svg#ancizar_sansbold_italic") format('svg');
}
@font-face {
	font-family:'Ancizar serif';
	font-weight:normal;
	font-style:italic;
	src:url("https://unal.edu.co/fileadmin/templates/fonts/ancizarserif_italic-webfont.eot"),url("https://unal.edu.co/fileadmin/templates/fonts/ancizarserif_italic-webfont.eot?#iefix") format('embedded-opentype'),url("https://unal.edu.co/fileadmin/templates/fonts/ancizarserif_italic-webfont.woff") format('woff'),url("https://unal.edu.co/fileadmin/templates/fonts/ancizarserif_italic-webfont.ttf") format('truetype'),url("https://unal.edu.co/fileadmin/templates/fonts/ancizarserif_italic-webfont.svg#ancizar_sansbold_italic") format('svg');
}
@font-face {
	font-family:'Ancizar serif';
	font-weight:normal;
	font-style:normal;
	src:url("https://unal.edu.co/fileadmin/templates/fonts/ancizarserif_regular-webfont.eot"),url("https://unal.edu.co/fileadmin/templates/fonts/ancizarserif_regular-webfont.eot?#iefix") format('embedded-opentype'),url("https://unal.edu.co/fileadmin/templates/fonts/ancizarserif_regular-webfont.woff") format('woff'),url("https://unal.edu.co/fileadmin/templates/fonts/ancizarserif_regular-webfont.ttf") format('truetype'),url("http: //unal.edu.co/fileadmin/templates/fonts/ancizarserif_regular-webfont.svg#ancizar_sansbold_italic") format('svg');
}

/************************************************************
Columna principal
*************************************************************/

/* Títulos */

.principal h1, .principal h2, .principal h3 {
	font-weight: bold;
}

.principal h1 {
	line-height: 40px;
	margin-bottom: 10px;
    font-size: 20pt;
	font-family: "Ancizar sans";
    border-bottom: 1px dotted #ccc;
}

.principal h2 {
    line-height: 30px;
	margin: 20px 0px 10px;
    font-size: 16pt;
    border-bottom: 1px dotted #ccc;
}

.principal h2:first-of-type {
	margin: 0px 0px 10px;
}

.principal h3 {
	line-height: 30px;
	margin: 20px 0px 10px;
    font-size: 14pt;
	font-family: "Ancizar sans";
    border-bottom: 1px dotted #ccc;
}

.principal h4 {
	line-height: 20px;
	margin: 20px 0px 10px;
    font-size: 14pt;
	font-weight: bold;
	font-family: "Ancizar serif";
}

.principal h5 {
	line-height: 20px;
	margin: 20px 0px 10px;
    font-size: 12pt;
	font-weight: bold;
	font-family: "Ancizar serif";
}

.principal h6 {
	line-height: 20px;
	margin: 20px 0px 10px;
    font-size: 12pt;
	font-family: "Ancizar serif";
}

.principal .st-content h2, .principal .st-content h3, .principal .st-content h4, .principal .st-content h5, .principal .st-content h6 {
	font-weight: normal;
	border: none;
}

.principal .st-content h6 {
	color: inherit;
}

/* Alineación */

p.align-center {
	text-align: center;
}

p.align-justify {
	text-align: justify;
}

p.align-right {
	text-align: right;
}

p.align-left {
	text-align: left;
}

/* Listas */

.principal ul {
    list-style: disc;
}

.principal ul li ul {
    list-style: circle;
}

.st-content ul {
	list-style: disc !important;
}

.st-content ul li ul {
	list-style: circle !important;
}

.principal ol {
    margin-left: 40px;
	list-style: decimal;
}

.principal ol li {
    margin-top: 10px;
}

.principal ol.lower-alpha {
	list-style-type: lower-alpha;
}

.principal footer p {
	margin: 0;
}

/************************************************************
Columna lateral
*************************************************************/

/* Títulos */

.isla h2 {
    line-height: 18px;
    margin: 20px 0px 6px 0px;
    font-size: 10pt;
	font-weight: bold;
    color: #a4a4a4;
}

/* Listas */

.isla ul {
    width: 100%;
    list-style: none;
    margin: 0px 0px 10px;
    padding: 0px;
    border: none;
}

.isla ul li {
    margin: 0px;
    padding: 0px 5px;
    height: 30px;
    line-height: 30px;
	overflow: hidden;
	border-bottom: 1px solid #b5b5b5;
}

.isla ul li a {
    color: #a4a4a4;
    background: none;
}

.isla a {
	color: #a4a4a4;
}
.isla span {
	text-decoration: none !important;
}